@model feedBackMvc.Models.QL_ThongTinNguoiKhaoSatViewModel

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



<style>
    table.dataTable thead th,
    table.dataTable thead td {
        padding: 6px 10px;
        border-bottom: 1px solid #005eff;
        font-size: 14px;
    }

    table.dataTable tbody th,
    table.dataTable tbody td {
        padding: 8px 10px;
        font-size: 14px;
    }

    .table {
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #a1a1f1;
        font-size: 16px !important;

        > :not(caption)>*>* {
            box-shadow: inset 0 0 0 rgb(255, 255, 255);
        }
    }

    .table th {
        background-color: #007bff;
        color: white;
    }

    .table td {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #ddd;
        font-weight: 400;
    }

    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        border-color: #eaeaff;
        border-style: solid;
        border-width: 1px;
        background-color: #ffff;
    }




    thead th {
        background-color: #1900ff;
        /* Màu xanh lá cây */
        color: white;
    }

    div.dt-button-collection button.dt-button:active:not(.disabled),
    div.dt-button-collection button.dt-button.active:not(.disabled),
    div.dt-button-collection div.dt-button:active:not(.disabled),
    div.dt-button-collection div.dt-button.active:not(.disabled),
    div.dt-button-collection a.dt-button:active:not(.disabled),
    div.dt-button-collection a.dt-button.active:not(.disabled) {
        background-color: #dadada;
        background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
        background: -moz-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
        background: -ms-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
        background: -o-linear-gradient(top, #f0f0f0 0%, #dadada 100%);
        background: linear-gradient(to bottom, #186cff 0%, #f7fcff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr="#f0f0f0", EndColorStr="#dadada");
        box-shadow: inset 1px 1px 3px #ffeaea;
    }

    .buttons {
        background-color: #007bff;
    }

    .dataTables_length label {
        color: #0011ff;
    }

    .dataTables_info {
        font-style: italic;
    }

    .dataTables_paginate .paginate_button {
        padding: 5px 10px;
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

    .dataTables_paginate .paginate_button:hover {
        background-color: #ccc;
    }

    .dataTables_length select {
        /* Các thuộc tính CSS để tùy chỉnh select */
        font-size: 16px;
        padding: 5px;
    }

    h2 {
        font-size: 20px;
        color: #1900ff;
    }

    .stt {
        background-color: blue;
        color: white;
        font-weight: 400;
    }

    #outPatientTable_paginate {
        margin-bottom: 4em;
    }

    .dataTables_wrapper .dataTables_filter input {
        border-radius: 24px;
        background-color: white;
        padding-left: 14px;
        font-size: 16px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        border-radius: 26px !important;
        width: 4px;
        height: 24px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current,
    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #ffffff !important;
        border: 1px solid #ffffff;
        background-color: white;
        background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
        background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
        background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
        background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
        background: linear-gradient(to bottom, #bed2f2 0%, #1900ff 100%);
        width: 4px;
        height: 24px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    button.dt-button:first-child,
    div.dt-button:first-child,
    a.dt-button:first-child,
    input.dt-button:first-child {
        margin-left: 0;
        border-radius: 26px;
        max-height: 36px;
        background-color: #ffff !important
    }

    button.dt-button,
    div.dt-button,
    a.dt-button,
    input.dt-button {
        background-color: rgba(255, 254, 254, 1);
        background: -webkit-linear-gradient(top, #ffff 0%, #ffff 100%);
        background: -moz-linear-gradient(top, #ffff 0%, #ffff 100%);
        background: -ms-linear-gradient(top, #ffff 0%, #ffff 100%);
        background: -o-linear-gradient(top, #ffff 0%, #ffff 100%);
        background: linear-gradient(to bottom, #ffff 0%, #ffff 100%);
    }

    div.dt-button-collection .dt-button {
        border-radius: 26px;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        padding-left: 26px;
        padding-top: 8px;
    }

    .dataTables_wrapper .dataTables_length select {
        border-radius: 26px;
        padding: 0px;
    }

    .dataTables_wrapper .dataTables_info {
        clear: both;
        float: left;
        padding-top: 0.45em;
    }

    table.dataTable {
        max-height: 200px;
        overflow-y: auto;
    }

    .custom-display {
        display: none;
    }

    .custom-mg-top_show {
        margin-top: -0.5rem !important;
    }


    .custom-mg-top_hide {
        margin-top: 2.5rem !important;
    }


    .custom-select {
        margin-right: 10px;
        max-height: 38px;
        font-size: 16px;
        width: 18%;
        margin-top: -10px;
        margin-bottom: 10px;
        border-radius: 26px;
        padding-bottom: 4px;
    }

    .custom-select-surrveyName {
        margin-right: 10px;
        max-height: 38px;
        font-size: 14px;
        width: auto;
        border-radius: 26px;
        padding-left: 10px;
        margin-left: 10px;
        padding-right: 10px;
        margin-bottom: 8px;
    }
</style>

@{
    string[] IN_TenMauKhaoSat = new string[Model.IN_MauKhaoSatList.Count];
    int index = 0;

    foreach (var item in Model.IN_MauKhaoSatList)
    {
        IN_TenMauKhaoSat[index] = item.TenMauKhaoSat;
        index++;
    }
}
@{
    string[] OUT_TenMauKhaoSat = new string[Model.OUT_MauKhaoSatList.Count];
    int OUT_index = 0;

    foreach (var item in Model.OUT_MauKhaoSatList)
    {
        OUT_TenMauKhaoSat[OUT_index] = item.TenMauKhaoSat;
        OUT_index++;
    }
}
@{
    string option = "Khảo sát nội trú số 2";
}
<select id="surveyType" class="custom-select">
    <option value="all">Tất cả</option>
    <option value="noiTru">Nội trú</option>
    <option value="ngoaiTru">Ngoại trú</option>
</select>
<div class="IN-MauKhaoSat container mt-4" style="min-height: 100%;margin-top: -0.5rem !important;">
    <div style="margin: 0; padding: 0; display: flex;">
        <h2> <i class="fas fa-poll"></i> Danh sách thực hiện khảo sát nội trú</h2>
        <select id="surveyName" class="custom-select-surrveyName">
            <option value="all">Tất cả</option>
            @foreach (var item in IN_TenMauKhaoSat)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <table id="inPatientTable" class="display" style="min-width:100%;">
        <thead>
            <tr>
                <td class="stt">STT</td>
                <th>Tên Bệnh Viện</th>
                <th>Ngày Khảo Sát</th>
                <th>Số Điện Thoại</th>
                <th>Người Trả Lời</th>
                <th>Giới Tính</th>
                <th>Tuổi</th>
                <th>Số Ngày Nằm Viện</th>
                <th>Có Sử Dụng BHYT</th>
                <th>Tên Khoa</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
            }
            @foreach (var item in Model.IN_TTNguoiKhaoSat)
            {
                <tr class="data-row" data-survey-name="@item.Ten_IN_MauKhaoSat">
                    <td>@stt</td>
                    <td>@item.TenBenhVien</td>
                    <td>@item.NgayKhaoSat.ToString("dd/MM/yyyy")</td>
                    <td>@item.SoDienThoai</td>
                    <td>@(item.NguoiTraLoi == "nguoiBenh" ? "Người bệnh" : "Người nhà")</td>
                    <td>@(item.GioiTinh == "Nu" ? "Nữ" : "Nam")</td>
                    <td>@item.Tuoi</td>
                    <td>@item.SoNgayNamVien</td>
                    <td>@(item.CoSuDungBHYT == true ? "Có" : "Không")</td>
                    <td>@item.TenKhoa</td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
</div>
<div class="OUT-MauKhaoSat container mt-4 custom-mg-top_hide" style="min-height: 100%;">
    <div style="margin: 0; padding: 0; display: flex;">
        <h2> <i class="fas fa-poll"></i> Danh sách thực hiện khảo sát ngoại trú</h2>
        <select id="OUT-surveyName" class="custom-select-surrveyName">
            <option value="all">Tất cả</option>
            @foreach (var item in OUT_TenMauKhaoSat)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <table id="outPatientTable" class="display" style="min-width:100%;">
        <thead>
            <tr>
                <td class="stt">STT</td>
                <th>Tên Bệnh Viện</th>
                <th>Ngày Khảo Sát</th>
                <th>Số Điện Thoại</th>
                <th>Người Trả Lời</th>
                <th>Giới Tính</th>
                <th>Tuổi</th>
                <th>Số Ngày Nằm Viện</th>
                <th>Có Sử Dụng BHYT</th>
                <th>Tên Khoa</th>
            </tr>
        </thead>
        <tbody>
            @{
                int OUT_stt = 1;
            }
            @foreach (var item in Model.OUT_TTNguoiKhaoSat)
            {
                <tr class="data-row" OUT-data-survey-name="@item.Ten_OUT_MauKhaoSat">
                    <td>@OUT_stt</td>
                    <td>@item.TenBenhVien</td>
                    <td>@item.NgayKhaoSat.ToString("dd/MM/yyyy")</td>
                    <td>@item.SoDienThoai</td>
                    <td>@(item.NguoiTraLoi == "nguoiBenh" ? "Người bệnh" : "Người nhà")</td>
                    <td>@(item.GioiTinh == "Nu" ? "Nữ" : "Nam")</td>
                    <td>@item.Tuoi</td>
                    <td>@item.SoNgayNamVien</td>
                    <td>@(item.CoSuDungBHYT == true ? "Có" : "Không")</td>
                    <td>@item.TenKhoa</td>
                </tr>
                OUT_stt++;
            }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>
<script>
    $(document).ready(function() {
        var dataTablesConfig = {
            pageLength: 10,
            lengthMenu: [[5,10,25,50,-1],['5 bản ghi ','10 bản ghi ','25 bản ghi ','50 bản ghi ','Tất cả']
            ],
            dom: 'Bftripl',
            buttons: [
                'colvis'
            ],
            scrollY: '390px', // Giới hạn chiều cao hiển thị
            scrollCollapse: true, // Thu gọn bảng khi không đủ dữ liệu
            language: {
                lengthMenu: "Hiển thị _MENU_ mỗi trang",
                zeroRecords: "Không tìm thấy bản ghi  nào",
                info: "trang _PAGE_ / _PAGES_",
                infoEmpty: "Không có bản ghi  nào",
                infoFiltered: "(lọc từ _MAX_ bản ghi )",
                search: " Tìm kiếm:",
                paginate: {
                    first: "Đầu",
                    last: "Cuối",
                    next: ">>",
                    previous: "<<"
                },
                buttons: {
                    colvis: "Hiển thị cột"
                },
            }
        };
        $('#inPatientTable').DataTable(dataTablesConfig);
        $('#outPatientTable').DataTable(dataTablesConfig);
        $("#inPatientTable_filter input").attr("placeholder",". . . .");
        $("#outPatientTable_filter input").attr("placeholder",". . . .");
        var searchLabels = document.querySelectorAll('.dataTables_wrapper .dataTables_filter label');

        searchLabels.forEach(function(searchLabel) {
            var icon = document.createElement('i');
            icon.classList.add('fas','fa-search');
            searchLabel.insertBefore(icon,searchLabel.firstChild);
        });



        $('#surveyType').on('change',function() {
            var selectedValue = $(this).val();
            var IN_MauKhaoSat = $('.IN-MauKhaoSat');
            var OUT_MauKhaoSat = $('.OUT-MauKhaoSat');
            if(selectedValue === 'ngoaiTru') {

                IN_MauKhaoSat.addClass('custom-display');
                OUT_MauKhaoSat.removeClass('custom-display');
                OUT_MauKhaoSat.removeClass('custom-mg-top_hide');
                OUT_MauKhaoSat.addClass('custom-mg-top_show');
            } else if(selectedValue === 'noiTru') {
                OUT_MauKhaoSat.addClass('custom-display');
                OUT_MauKhaoSat.removeClass('ccustom_mg_top');
                IN_MauKhaoSat.removeClass('custom-display');
            }
            else {
                IN_MauKhaoSat.removeClass('custom-display');
                OUT_MauKhaoSat.removeClass('custom-display');
                OUT_MauKhaoSat.removeClass('custom-mg-top_show');
                OUT_MauKhaoSat.addClass('custom-mg-top_hide');
            }
        });
        document.getElementById('surveyName').addEventListener('change',function() {
            var selectedValue = this.value;
            var rows = document.querySelectorAll('#inPatientTable .data-row');

            rows.forEach(function(row) {
                if(selectedValue === 'all' || row.getAttribute('data-survey-name') === selectedValue) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
        document.getElementById('OUT-surveyName').addEventListener('change',function() {
            var selectedValue = this.value;
            var rows = document.querySelectorAll('#outPatientTable .data-row');

            rows.forEach(function(row) {
                if(selectedValue === 'all' || row.getAttribute('OUT-data-survey-name') === selectedValue) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
















    });
</script>
