@model feedBackMvc.Models.QL_ThongTinNguoiKhaoSatViewModel

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css" />

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Your custom CSS -->
<link rel="stylesheet" href="~/css/_QL_ThongTinNguoiKhaoSat.css" />



@{
    string[] IN_TenMauKhaoSat;

    if (Model.IN_MauKhaoSatList != null && Model.IN_MauKhaoSatList.Count > 0)
    {
        IN_TenMauKhaoSat = new string[Model.IN_MauKhaoSatList.Count];
        int index = 0;

        foreach (var item in Model.IN_MauKhaoSatList)
        {
            IN_TenMauKhaoSat[index] = item.TenMauKhaoSat ?? "";
            index++;
        }
    }
    else
    {
        IN_TenMauKhaoSat = new string[0]; // Or handle this case differently
    }
}

@{
    string[] OUT_TenMauKhaoSat;

    if (Model.OUT_MauKhaoSatList != null && Model.OUT_MauKhaoSatList.Count > 0)
    {
        OUT_TenMauKhaoSat = new string[Model.OUT_MauKhaoSatList.Count];
        int index = 0;

        foreach (var item in Model.OUT_MauKhaoSatList)
        {
            OUT_TenMauKhaoSat[index] = item.TenMauKhaoSat ?? "";
            index++;
        }
    }
    else
    {
        OUT_TenMauKhaoSat = new string[0]; // Or handle this case differently
    }
}

<select id="surveyType" class="custom-select">
    <option value="all">Tất cả</option>
    <option value="noiTru">Nội trú</option>
    <option value="ngoaiTru">Ngoại trú</option>
</select>
<div class="IN-MauKhaoSat container mt-4" style="min-height: 100%;margin-top: -0.5rem !important;">
    <div style="margin: 0; padding: 0; display: flex;">
        <h2> <i class="fas fa-poll"></i> Danh sách thực hiện khảo sát nội trú</h2>
        <select id="surveyName" class="custom-select-surrveyName">
            <option value="all">Tất cả</option>
            @foreach (var item in IN_TenMauKhaoSat)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <table id="inPatientTable" class="display" style="min-width:100%;">
        <thead>
            <tr>
                <td class="stt">STT</td>
                <th>Tên bệnh viện</th>
                <th>Ngày khảo sát</th>
                <th>Số điện thoại</th>
                <th>Người khảo sát</th>
                <th>Giới tính</th>
                <th>Tuổi</th>
                <th>Số ngày nằm viện</th>
                <th>Có sử dụng BHYT</th>
                <th>Tên khoa</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
            }
            @if (Model.IN_TTNguoiKhaoSat != null && Model.IN_TTNguoiKhaoSat.Any())
            {
                @foreach (var item in Model.IN_TTNguoiKhaoSat)
                {
                    <tr class="data-row" data-survey-name="@item.Ten_IN_MauKhaoSat">
                        <td></td>
                        <td>@item.TenBenhVien</td>
                        <td>@item.NgayKhaoSat.ToString("dd/MM/yyyy")</td>
                        <td>@item.SoDienThoai</td>
                        <td>@(item.NguoiTraLoi == "nguoiBenh" ? "Người bệnh" : "Người nhà")</td>
                        <td>@(item.GioiTinh == "Nu" ? "Nữ" : "Nam")</td>
                        <td>@item.Tuoi</td>
                        <td>@item.SoNgayNamVien</td>
                        <td>@(item.CoSuDungBHYT == true ? "Có" : "Không")</td>
                        <td>@item.TenKhoa</td>
                    </tr>
                    stt++;
                }
            }
            else
            {
                <tr>
                    <td colspan="10">No data available</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="OUT-MauKhaoSat container mt-4 custom-mg-top_hide" style="min-height: 100%;">
    <div style="margin: 0; padding: 0; display: flex;">
        <h2> <i class="fas fa-poll"></i> Danh sách thực hiện khảo sát ngoại trú</h2>
        <select id="OUT-surveyName" class="custom-select-surrveyName">
            <option value="all">Tất cả</option>
            @foreach (var item in OUT_TenMauKhaoSat)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <table id="outPatientTable" class="display" style="min-width:100%;">
        <thead>
            <tr>
                <td class="stt">STT</td>
                <th>Tên bệnh viện</th>
                <th>Ngày khảo sát</th>
                <th>Số điện thoại</th>
                <th>Giới tính</th>
                <th>Tuổi</th>
                <th>Khoảng cách đến BV</th>
                <th>Có sử dụng BHYT</th>
            </tr>
        </thead>
        <tbody>
            @{
                int OUT_stt = 1;
            }


            @if (Model.OUT_TTNguoiKhaoSat != null && Model.OUT_TTNguoiKhaoSat.Any())
            {
                @foreach (var item in Model.OUT_TTNguoiKhaoSat)
                {
                    <tr class="data-row" data-survey-name="@item.Ten_OUT_MauKhaoSat">
                        <td></td>
                        <td>@item.TenBenhVien</td>
                        <td>@item.NgayKhaoSat.ToString("dd/MM/yyyy")</td>
                        <td>@item.SoDienThoai</td>
                        <td>@(item.GioiTinh == "Nu" ? "Nữ" : "Nam")</td>
                        <td>@item.Tuoi</td>
                        <td>@item.KhoangCach</td>
                        <td>@(item.CoSuDungBHYT == true ? "Có" : "Không")</td>
                    </tr>
                    OUT_stt++;
                }
            }
            else
            {
                <tr>
                    <td colspan="10">No data available</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>


<script>
    $(document).ready(function() {
        var dataTablesConfig = {
            pageLength: 10,
            lengthMenu: [[5,10,25,50,-1],['5 bản ghi ','10 bản ghi ','25 bản ghi ','50 bản ghi ','Tất cả']
            ],
            dom: 'Bftripl',
            buttons: [
                'colvis'
            ],
            order: [[1,'asc']],
            scrollY: '390px', // Giới hạn chiều cao hiển thị
            scrollCollapse: true, // Thu gọn bảng khi không đủ dữ liệu
            language: {
                lengthMenu: "Hiển thị _MENU_ mỗi trang",
                zeroRecords: "Không tìm thấy bản ghi  nào",
                info: "trang _PAGE_ / _PAGES_",
                infoEmpty: "Không có bản ghi  nào",
                infoFiltered: "(lọc từ _MAX_ bản ghi )",
                search: " Tìm kiếm:",
                paginate: {
                    first: "Đầu",
                    last: "Cuối",
                    next: ">>",
                    previous: "<<"
                },
                buttons: {
                    colvis: "Hiển thị cột"
                },
            }
        };

    @*$('#inPatientTable').DataTable(dataTablesConfig);
            $('#outPatientTable').DataTable(dataTablesConfig);*@
            $("#inPatientTable_filter input").attr("placeholder",". . . .");
        $("#outPatientTable_filter input").attr("placeholder",". . . .");
        var searchLabels = document.querySelectorAll('.dataTables_wrapper .dataTables_filter label');

        searchLabels.forEach(function(searchLabel) {
            var icon = document.createElement('i');
            icon.classList.add('fas','fa-search');
            searchLabel.insertBefore(icon,searchLabel.firstChild);
        });



        $('#surveyType').on('change',function() {
            var selectedValue = $(this).val();
            var IN_MauKhaoSat = $('.IN-MauKhaoSat');
            var OUT_MauKhaoSat = $('.OUT-MauKhaoSat');
            if(selectedValue === 'ngoaiTru') {
                IN_MauKhaoSat.addClass('custom-display');
                OUT_MauKhaoSat.removeClass('custom-display');
                OUT_MauKhaoSat.removeClass('custom-mg-top_hide');
                OUT_MauKhaoSat.addClass('custom-mg-top_show');
            } else if(selectedValue === 'noiTru') {
                OUT_MauKhaoSat.addClass('custom-display');
                OUT_MauKhaoSat.removeClass('ccustom_mg_top');
                IN_MauKhaoSat.removeClass('custom-display');
            }
            else {
                IN_MauKhaoSat.removeClass('custom-display');
                OUT_MauKhaoSat.removeClass('custom-display');
                OUT_MauKhaoSat.removeClass('custom-mg-top_show');
                OUT_MauKhaoSat.addClass('custom-mg-top_hide');
            }
        });
        var table = $('#inPatientTable').DataTable(dataTablesConfig);
        $('#surveyName').on('change',function() {
            var selectedValue = $(this).val();

            // Make an AJAX call to get new data
            $.ajax({
                url: '/ManageInfoSurrveier/GetSurveyData', // Replace with your actual controller and action
                data: {surveyName: selectedValue},
                method: 'POST',
                success: function(response) {
                    console.log(response); // Check the format of the response data
                    if(Array.isArray(response.data)) {
                        table.clear();
                        response.data.forEach(function(item) {
                            console.log(item);
                            table.row.add([
                                '', // Empty for the STT column
                                item.tenBenhVien,
                                item.ngayKhaoSat,
                                item.soDienThoai,
                                item.nguoiTraLoi === 'nguoiBenh' ? 'Người bệnh' : 'Người nhà',
                                item.gioiTinh === 'Nu' ? 'Nữ' : 'Nam',
                                item.tuoi,
                                item.soNgayNamVien,
                                item.coSuDungBHYT === true ? "Có" : "Không",
                                item.tenKhoa,
                            ]);
                        });

                        // Redraw the table
                        table.draw();
                    } else {
                        console.error('Unexpected data format:',response);
                    }
                },
                error: function(xhr,status,error) {
                    console.error("An error occurred: " + error);
                }
            });
        });
        table.on('order.dt search.dt',function() {
            table.column(0,{search: 'applied',order: 'applied'}).nodes().each(function(cell,i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        var OUT_table = $('#outPatientTable').DataTable(dataTablesConfig);
        $('#OUT-surveyName').on('change',function() {
            var selectedValue = $(this).val();
            $.ajax({
                url: '/ManageInfoSurrveier/OUT_GetSurveyData', // Replace with your actual controller and action
                data: {surveyName: selectedValue},
                method: 'POST',
                success: function(response) {
                    console.log(response); // Check the format of the response data
                    if(Array.isArray(response.data)) {
                        OUT_table.clear();
                        response.data.forEach(function(item) {
                            console.log(item);
                            OUT_table.row.add([
                                '', // Empty for the STT column
                                item.tenBenhVien,
                                item.ngayKhaoSat,
                                item.soDienThoai,
                                item.gioiTinh === 'Nu' ? 'Nữ' : 'Nam',
                                item.tuoi,
                                item.khoangCach,
                                item.coSuDungBHYT === true ? "Có" : "Không",
                            ]);
                        });
                        // Redraw the OUT_table
                        OUT_table.draw();
                    } else {
                        console.error('Unexpected data format:',response);
                    }
                },
                error: function(xhr,status,error) {
                    console.error("An error occurred: " + error);
                }
            });
        });
        OUT_table.on('order.dt search.dt',function() {
            OUT_table.column(0,{search: 'applied',order: 'applied'}).nodes().each(function(cell,i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

    });
</script>
