@model feedBackMvc.Models.KhaoSatViewModel

@{
    var IN_existingTitles = Model.IN_MauKhaoSatList?.Select(n => n.TenMauKhaoSat).ToList();
    var OUT_existingTitles = Model.OUT_MauKhaoSatList?.Select(n => n.TenMauKhaoSat).ToList();
    var ORTHER_existingTitles = Model.ORTHER_MauKhaoSatList?.Select(n => n.TenMauKhaoSat).ToList();
}

<partial name="_NotificationModal" model="new NotificationModalModel()" />
<partial name="_WarningModal" model="new WarningModalModel()" />
<link rel="stylesheet" href="~/css/_QL_MauKhaoSat.css" />

<style>
    /* Modal styling */
    #qrCodeModal {
        display: none;
        position: fixed;
        z-index: 1000;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(121, 121, 121, 0.8);
        /* Black background with opacity */
    }

    .modal-content {
        margin: auto;
        padding: 20px;
        width: 80%;
        background-color: rgb(255, 255, 255) !important;
        border-radius: 20px;
    }

    #qrCodeImage {
        max-width: 100%;
        height: auto;
    }
</style>

<!-- QR Code Modal -->
<div id="qrCodeModal" class="modal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: black; text-align: center;">
            <div class="modal-header" style="border-bottom: none;">
                <h5 class="modal-title" style="color: rgb(0, 0, 0);">QR Code cho mẫu khảo sát</h5>
                <button type="button" class="close" id="closeModal" style="color: rgb(0, 0, 0);" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="qrCodeImage" alt="QR Code" />
                <button id="downloadButton"
                    style="margin-top: 10px; color: white; background-color: green; border: none; padding: 10px; cursor: pointer; border-radius: 10px;">
                    Tải Xuống
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Survey View -->
<div class="MauKhaoSat">
    @if (Model.IN_MauKhaoSatList != null && Model.IN_MauKhaoSatList.Any())
    {
        <div class="DanhSachNoiTru">
            <h3><i class="fas fa-poll"></i> Danh sách khảo sát nội trú</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th style="max-width:5%; text-align: center;">STT</th>
                        <th>Tên mẫu khảo sát</th>
                        <th>Số lượng khảo sát</th>
                        <th>SL khảo sát hiện tại</th>
                        <th>Trạng thái</th>
                        <th>Hiển thị thống kê</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int stt = 1; // Biến đếm số thứ tự
                        var now = DateOnly.FromDateTime(DateTime.UtcNow); // Thời gian hiện tại (UTC)
                        var nowDateTime = now.ToDateTime(TimeOnly.MinValue);
                    }
                    @foreach (var item in Model.IN_MauKhaoSatList)
                    {
                        // Chuyển đổi DateOnly thành DateTime để tính toán
                        var ngayKetThucDateTime = item.NgayKetThuc.HasValue
                        ? item.NgayKetThuc.Value.ToDateTime(TimeOnly.MinValue) // Chuyển đổi thành DateTime
                        : (DateTime?)null;

                        // Tính số ngày còn lại
                        var hetHan = ngayKetThucDateTime.HasValue
                        ? (ngayKetThucDateTime.Value - nowDateTime).Days
                        : (int?)null;
                        <tr class="parent-details-row" data-id="@item.IdIN_MauKhaoSat">
                            <td style="max-width:5%; text-align: center;">@stt</td> <!-- Hiển thị số thứ tự -->
                            <td>@item.TenMauKhaoSat</td>
                            <td>@item.SoluongKhaoSat</td>
                            <td> @(Model.CountSurvey_IN_MauKhaoSat != null &&
                                   Model.CountSurvey_IN_MauKhaoSat.ContainsKey(item.IdIN_MauKhaoSat)
                                   ? Model.CountSurvey_IN_MauKhaoSat[item.IdIN_MauKhaoSat]
                                   : 0)
                            </td>
                            <td class="trangThai @(item.TrangThai == true ? "text-green" : "text-red")"
                                data-id="@item.IdIN_MauKhaoSat">
                                <div class="toggle-switch">
                                    <div class="switch @(item.TrangThai == true ? "on" : "off") switchStatus"></div>
                                </div>
                            </td>
                            <td class="hienThi @(item.HienThi == true ? "text-green" : "text-red")"
                                data-id="@item.IdIN_MauKhaoSat">
                                <div class="toggle-switch">
                                    <div class="switch @(item.HienThi == true ? "on" : "off") switchShow"></div>
                                </div>
                            </td>
                            <td>
                                <span class="toggle-icon xem-chi-tiet">
                                    <u>Xem chi tiết</u>
                                </span>
                            </td>
                        </tr>
                        <!-- Hàng ẩn chứa thông tin chi tiết dưới dạng bảng -->
                        <tr class="details-row" data-id="@item.IdIN_MauKhaoSat" style="display: none;">
                            <td colspan="9">
                                <div class="details-container">
                                    <div class="table-wrapper">
                                        <table class="table table-bordered small-table">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: right;">Ngày tạo</th>
                                                    <th>Tên mẫu khảo sát</th>
                                                    <th>Số lượng khảo sát</th>
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="background-color: #ddd;">
                                                    <td style="text-align: right;">@item.NgayTao.ToString("dd/MM/yyyy")</td>
                                                    <td class="title_surrvey">@item.TenMauKhaoSat</td>
                                                    <td class="number_surrvey">@item.SoluongKhaoSat</td>
                                                    <td>
                                                        <span class="update-icon"
                                                            style="cursor: pointer; color: #00b22c; margin-right: 10px;">
                                                            <i class="fas fa-edit"></i>
                                                        </span>
                                                        <span class="delete-icon" data-id="@item.IdIN_MauKhaoSat"
                                                            style="cursor: pointer; color: #777777; margin-right: 10px;">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </span>
                                                        <span class="IN_qrcode-icon" data-id="@item.IdIN_MauKhaoSat"
                                                            style="cursor: pointer; color: #000000;">
                                                            <i class="fas fa-qrcode"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="6">
                                                        <div class="footer-buttons">
                                                            <button id="" class="update-btn btn btn-update"
                                                                data-id="@item.IdIN_MauKhaoSat" style="display: none;">
                                                                <i class="fas fa-save"></i> Cập nhật
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        stt++;
                        <!-- Tăng số thứ tự -->
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="no-survey-image">
            <img src="~/imgs/no_surrvey2.png" alt="Không có mẫu khảo sát" />
            <h3>Hiện tại không có mẫu khảo sát nội trú nào.</h3>
        </div>
    }
    @if (Model.OUT_MauKhaoSatList != null && Model.OUT_MauKhaoSatList.Any())
    {
        <div class="DanhSachNgoaiTru">
            <h3><i class="fas fa-poll"></i> Danh sách khảo sát ngoại trú</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th style="max-width:5%; text-align: center;">STT</th>
                        <th>Tên mẫu khảo sát</th>
                        <th>Số lượng khảo sát</th>
                        <th>SL khảo sát hiện tại</th>
                        <th>Trạng thái</th>
                        <th>Hiển thị thống kê</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int stt = 1; // Biến đếm số thứ tự
                        var now = DateOnly.FromDateTime(DateTime.UtcNow);
                        var nowDateTime = now.ToDateTime(TimeOnly.MinValue);
                    }
                    @foreach (var item in Model.OUT_MauKhaoSatList)
                    {
                        <tr class="OUT-parent-details-row" data-id="@item.IdOUT_MauKhaoSat">
                            <td style="max-width:5%; text-align: center;">@stt</td> <!-- Hiển thị số thứ tự -->
                            <td>@item.TenMauKhaoSat</td>
                            <td>@item.SoluongKhaoSat</td>
                            <td>@(Model.CountSurvey_OUT_MauKhaoSat != null &&
                                    Model.CountSurvey_OUT_MauKhaoSat.ContainsKey(item.IdOUT_MauKhaoSat)
                                    ? Model.CountSurvey_OUT_MauKhaoSat[item.IdOUT_MauKhaoSat]
                                    : 0)</td>
                            <td class="OUT-trangThai @(item.TrangThai == true ? "text-green" : "text-red")"
                                data-id="@item.IdOUT_MauKhaoSat">
                                <div class="OUT-toggle-switch">
                                    <div class="OUT-switch @(item.TrangThai == true ? "on" : "off") OUT-switchStatus"></div>
                                </div>
                            </td>
                            <td class="OUT-hienThi @(item.HienThi == true ? "text-green" : "text-red")"
                                data-id="@item.IdOUT_MauKhaoSat">
                                <div class="OUT-toggle-switch">
                                    <div class="OUT-switch @(item.HienThi == true ? "on" : "off") OUT-switchShow"></div>
                                </div>
                            </td>
                            <td>
                                <span class="OUT-toggle-icon xem-chi-tiet">
                                    <u>Xem chi tiết</u>
                                </span>
                            </td>
                        </tr>
                        <!-- Hàng ẩn chứa thông tin chi tiết dưới dạng bảng -->
                        <tr class="OUT-details-row" data-id="@item.IdOUT_MauKhaoSat" style="display: none;">
                            <td colspan="9">
                                <div class="OUT-details-container">
                                    <div class="table-wrapper">
                                        <table class="table table-bordered small-table">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: right;">Ngày tạo</th>
                                                    <th>Tên mẫu khảo sát</th>
                                                    <th>Số lượng khảo sát</th>
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="background-color: #ddd;">
                                                    <td style="text-align: right;">@item.NgayTao.ToString("dd/MM/yyyy")</td>
                                                    <td class="OUT_title_surrvey">@item.TenMauKhaoSat</td>
                                                    <td class="OUT_number_surrvey">@item.SoluongKhaoSat</td>
                                                    <td>
                                                        <span class="OUT-update-icon"
                                                            style="cursor: pointer; color: #00b22c; margin-right: 10px;">
                                                            <i class="fas fa-edit"></i>
                                                        </span>
                                                        <span class="OUT-delete-icon" data-id="@item.IdOUT_MauKhaoSat"
                                                            style="cursor: pointer; color: #777777; margin-right: 10px;">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </span>
                                                        <span class="OUT_qrcode-icon" data-id="@item.IdOUT_MauKhaoSat"
                                                            style="cursor: pointer; color: #000000;">
                                                            <i class="fas fa-qrcode"></i>
                                                        </span>
                                                    </td>

                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="7">
                                                        <div class="footer-buttons">
                                                            <button id="" class="OUT-update-btn btn btn-update"
                                                                data-id="@item.IdOUT_MauKhaoSat" style="display: none;">
                                                                <i class="fas fa-save"></i> Cập nhật
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        stt++;
                        <!-- Tăng số thứ tự -->
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="no-survey-image">
            <img src="~/imgs/no_surrvey2.png" alt="Không có mẫu khảo sát" />
            <h3>Hiện tại không có mẫu khảo sát ngoại trú nào.</h3>
        </div>
    }
    @if (Model.ORTHER_MauKhaoSatList != null && Model.ORTHER_MauKhaoSatList.Any())
    {
        <div class="DanhSachNgoaiTru">
            <h3><i class="fas fa-poll"></i> Danh sách khảo sát khác </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th style="max-width:5%; text-align: center;">STT</th>
                        <th>Tên mẫu khảo sát</th>
                        <th>Số lượng khảo sát</th>
                        <th>SL khảo sát hiện tại</th>
                        <th>Trạng thái</th>
                        <th>Hiển thị thống kê</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int stt = 1; // Biến đếm số thứ tự
                        var now = DateOnly.FromDateTime(DateTime.UtcNow);
                        var nowDateTime = now.ToDateTime(TimeOnly.MinValue);
                    }
                    @foreach (var item in Model.ORTHER_MauKhaoSatList)
                    {
                        <tr class="ORTHER-parent-details-row" data-id="@item.IdORTHER_MauKhaoSat">
                            <td style="max-width:5%; text-align: center;">@stt</td> <!-- Hiển thị số thứ tự -->
                            <td>@item.TenMauKhaoSat</td>
                            <td>@item.SoluongKhaoSat</td>
                            <td>@(Model.CountSurvey_ORTHER_MauKhaoSat != null &&
                                    Model.CountSurvey_ORTHER_MauKhaoSat.ContainsKey(item.IdORTHER_MauKhaoSat)
                                    ? Model.CountSurvey_ORTHER_MauKhaoSat[item.IdORTHER_MauKhaoSat]
                                    : 0)</td>
                            <td class="ORTHER-trangThai @(item.TrangThai == true ? "text-green" : "text-red")"
                                data-id="@item.IdORTHER_MauKhaoSat">
                                <div class="ORTHER-toggle-switch">
                                    <div class="ORTHER-switch @(item.TrangThai == true ? "on" : "off") ORTHER-switchStatus">
                                    </div>
                                </div>
                            </td>
                            <td class="ORTHER-hienThi @(item.HienThi == true ? "text-green" : "text-red")"
                                data-id="@item.IdORTHER_MauKhaoSat">
                                <div class="ORTHER-toggle-switch">
                                    <div class="ORTHER-switch @(item.HienThi == true ? "on" : "off") ORTHER-switchShow"></div>
                                </div>
                            </td>
                            <td>
                                <span class="ORTHER-toggle-icon xem-chi-tiet">
                                    <u>Xem chi tiết</u>
                                </span>
                            </td>
                        </tr>
                        <!-- Hàng ẩn chứa thông tin chi tiết dưới dạng bảng -->
                        <tr class="ORTHER-details-row" data-id="@item.IdORTHER_MauKhaoSat" style="display: none;">
                            <td colspan="9">
                                <div class="ORTHER-details-container">
                                    <div class="table-wrapper">
                                        <table class="table table-bordered small-table">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: right;">Ngày tạo</th>
                                                    <th>Tên mẫu khảo sát</th>
                                                    <th>Số lượng khảo sát</th>
                                                    <th></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="background-color: #ddd;">
                                                    <td style="text-align: right;">@item.NgayTao.ToString("dd/MM/yyyy")</td>
                                                    <td class="ORTHER_title_surrvey">@item.TenMauKhaoSat</td>
                                                    <td class="ORTHER_number_surrvey">@item.SoluongKhaoSat</td>
                                                    <td>
                                                        <span class="ORTHER-update-icon"
                                                            style="cursor: pointer; color: #00b22c; margin-right: 10px;">
                                                            <i class="fas fa-edit"></i>
                                                        </span>
                                                        <span class="ORTHER-delete-icon" data-id="@item.IdORTHER_MauKhaoSat"
                                                            style="cursor: pointer; color: #777777; margin-right: 10px;">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </span>
                                                        <span class="ORTHER_qrcode-icon" data-id="@item.IdORTHER_MauKhaoSat"
                                                            style="cursor: pointer; color: #000000;">
                                                            <i class="fas fa-qrcode"></i>
                                                        </span>
                                                    </td>

                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="7">
                                                        <div class="footer-buttons">
                                                            <button id="" class="ORTHER-update-btn btn btn-update"
                                                                data-id="@item.IdORTHER_MauKhaoSat" style="display: none;">
                                                                <i class="fas fa-save"></i> Cập nhật
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        stt++;
                        <!-- Tăng số thứ tự -->
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="no-survey-image">
            <img src="~/imgs/no_surrvey2.png" alt="Không có mẫu khảo sát" />
            <h3>Hiện tại không có mẫu khảo sát khác nào.</h3>
        </div>
    }
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function toggleStatus(clickedElement,isOpen) {
            if(isOpen != null) {
                const isOpen = clickedElement.querySelector('.switchStatus').classList.contains('on')
                const allRowsStatus = document.querySelectorAll('.trangThai .switch');
                allRowsStatus.forEach(function(row) {
                    row.classList.remove('on');
                    row.classList.add('off');
                });
                if(!isOpen) {
                    const switchElement = clickedElement.querySelector('.switch');
                    switchElement.classList.remove('off');
                    switchElement.classList.add('on');
                }
            } else {
                const isShow = clickedElement.querySelector('.switchShow').classList.contains('on');
                if(!isShow) {
                    const switchElement = clickedElement.querySelector('.switch');
                    switchElement.classList.remove('off');
                    switchElement.classList.add('on');
                } else {
                    const switchElement = clickedElement.querySelector('.switch');
                    switchElement.classList.remove('on');
                    switchElement.classList.add('off');
                }
            }
        }
        function updateSurveyStatus(id,isOpen,isShow,element) {
            $.ajax({
                url: '@Url.Action("CapNhatTrangThai_IN_MauKhaoSat", "IN_MauKhaoSat")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({Id: id,isOpen: isOpen,isShow: isShow}),
                success: function(response) {
                    if(response.success) {
                        toggleStatus(element,isOpen)
                        var modalData = {
                            Title: 'Thành công',
                            Message: 'Thay đổi trạng thái thành công.',
                            IconClass: 'fa-check-circle',
                            HasAction: false,
                            NotificationType: 'success'
                        };
                        showNotificationModal(modalData);
                    } else {
                        var modalData = {
                            Title: 'Lỗi',
                            Message: response.message || 'Có lỗi xảy ra trong quá trình cập nhật.',
                            IconClass: 'fa-exclamation-circle',
                            HasAction: false,
                            NotificationType: 'error'
                        };
                        showNotificationModal(modalData);
                    }
                }
            });
        }
        // Attach event listeners to all .trangThai elements
        document.querySelectorAll('.trangThai').forEach(function(element) {
            element.addEventListener('click',function() {
                const id = this.getAttribute('data-id');
                const isOpen = this.querySelector('.switchStatus').classList.contains('on');
                updateSurveyStatus(id,isOpen,null,this); // Toggle state for the update
            });
        });
        document.querySelectorAll('.hienThi').forEach(function(element) {
            element.addEventListener('click',function() {
                const id = this.getAttribute('data-id');
                const isShow = this.querySelector('.switchShow').classList.contains('on');
                updateSurveyStatus(id,null,isShow,this); // Toggle state for the update
            });
        });

        var originalData = {};
        var IN_existingTitles = @Html.Raw(Json.Serialize(IN_existingTitles));
        $(document).on('click','.toggle-icon',function() {
            var $icon = $(this);
            var $row = $icon.closest('tr');
            var $detailRow = $row.next('.details-row');

            // If the detail row is visible, hide it and restore the icon
            if($detailRow.is(':visible')) {
                $detailRow.hide();
                $icon.html('<u>Xem chi tiết</u>');
                $row.removeClass('highlighted');
                $('.update-btn').hide();

                // Check if the row has update-icon class and revert to update-icon if needed
                var $updateIcon = $detailRow.find('.delete-update-icon');
                if($updateIcon.hasClass('delete-update-icon')) {
                    if(originalData) {
                        $detailRow.find('.title_surrvey').html(originalData.title_surrvey);
                        $detailRow.find('.number_surrvey').html(originalData.number_surrvey);
                        // Change back the icon to edit mode
                        $updateIcon.html('<i class="fas fa-edit"></i>');
                        $updateIcon.addClass('update-icon').removeClass('delete-update-icon');
                        // Add back the title to IN_existingTitles
                        if(!IN_existingTitles.includes(originalData.title_surrvey)) {
                            IN_existingTitles.push(originalData.title_surrvey);
                        }
                    }
                }
            } else {
                // Đóng tất cả các hàng chi tiết khác
                $('.details-row:visible').each(function() {
                    var $otherDetailRow = $(this);
                    var $row = $otherDetailRow.prev();
                    var $icon = $(this);
                    var $detailRow = $row.next('.details-row');
                    // Đóng hàng chi tiết khác
                    $otherDetailRow.hide();
                    $row.find('.toggle-icon').html('<u>Xem chi tiết</u>');
                    $row.removeClass('highlighted');
                    $('.update-btn').hide();
                    // Check if the row has update-icon class and revert to update-icon if needed
                    var $updateIcon = $detailRow.find('.delete-update-icon');
                    if($updateIcon.hasClass('delete-update-icon')) {
                        if(originalData) {
                            $detailRow.find('.title_surrvey').html(originalData.title_surrvey);
                            $detailRow.find('.number_surrvey').html(originalData.number_surrvey);
                            $updateIcon.html('<i class="fas fa-edit"></i>');
                            $updateIcon.addClass('update-icon').removeClass('delete-update-icon');
                        }
                    }
                    // Add back the title to IN_existingTitles
                    if(!IN_existingTitles.includes(originalData.title_surrvey)) {
                        IN_existingTitles.push(originalData.title_surrvey);
                    }
                });
                // Mở hàng chi tiết hiện tại
                $detailRow.show();
                $icon.html('<u>Ẩn chi tiết</u>');
                $icon.closest('tr').addClass('highlighted');
            }
        });
        $(document).on('click','.delete-icon',function() {
            var id = $(this).data('id');
            var $parentRow = $('tr.parent-details-row[data-id="' + id + '"]'); // Tìm hàng chính dựa trên data-id
            var $detailRow = $parentRow.next('.details-row'); // Tìm hàng chi tiết ngay sau hàng chính
            var title = $parentRow.find('.title_surrvey').text();
            showWarningModal({
                Title: 'Xác nhận Đánh dấu xóa',
                Message: 'Bạn có chắc chắn muốn đánh dấu xóa mẫu khảo sát này không?',
                IconClass: 'fa-exclamation-triangle'
            },function() {
                $.ajax({
                    url: '@Url.Action("CapNhatTrangThai_IN_MauKhaoSat", "IN_MauKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({Id: id,Xoa: true}),
                    success: function(response) {
                        if(response.success) {
                            // Xóa hàng khỏi bảng
                            $parentRow.add($detailRow).remove();
                            var modalData = {
                                Title: 'Thành công',
                                Message: 'Đánh dấu xóa thành công.',
                                IconClass: 'fa-check-circle',
                                HasAction: false,
                                NotificationType: 'success'
                            };
                            showNotificationModal(modalData);
                            IN_existingTitles = IN_existingTitles.filter(t => t !== title);
                        } else {
                            var modalData = {
                                Title: 'Lỗi',
                                Message: response.message || 'Có lỗi xảy ra trong quá trình xóa.',
                                IconClass: 'fa-exclamation-circle',
                                HasAction: false,
                                NotificationType: 'error'
                            };
                            showNotificationModal(modalData);
                        }
                    },
                });
            });
        });
        $('.update-icon').on('click',function() {
            var row = $(this).closest('tr');
            var rowId = row.find('.delete-icon').data('id');
            // Check if already in edit mode
            if($(this).hasClass('delete-update-icon')) {
                // Restore the original values
                var original = row.data('originalData'); // Retrieve stored original data for this row
                if(original) {
                    row.find('.title_surrvey').html(original.title_surrvey);
                    row.find('.number_surrvey').html(original.number_surrvey);

                    // Change back the icon to edit mode
                    $(this).html('<i class="fas fa-edit"></i>');
                    $(this).addClass('update-icon').removeClass('delete-update-icon');
                }

                // Add back the title to IN_existingTitles
                IN_existingTitles.push(original.title_surrvey);
                $('.update-btn').hide();
            } else {
                // Enter edit mode
                var title_surrvey = row.find('.title_surrvey').text();
                var number_surrvey = row.find('.number_surrvey').text();
                // Store the original values for later restoration
                row.data('originalData',{
                    title_surrvey: title_surrvey,
                    number_surrvey: number_surrvey
                });
                originalData = {
                    title_surrvey: title_surrvey,
                    number_surrvey: number_surrvey
                }

                // Remove the title from IN_existingTitles to prevent duplicates
                IN_existingTitles = IN_existingTitles.filter(function(title) {
                    return title !== title_surrvey;
                });

                // Replace table cells with editable inputs
                row.find('.title_surrvey').html(`<input type="text" class="form-control" value="${title_surrvey}" style="width: 100%; max-width: 146px;font-size: 0.9em"/>`);
                row.find('.number_surrvey').html(`<input type="number" class="form-control" value="${number_surrvey}" style="width: 50%;font-size: 0.9em" min="0"/>`);
                $('.update-btn').show();
                // Change the icon to cancel mode (X icon)
                $(this).html('<i class="fas fa-times"></i>');
                $(this).addClass('delete-update-icon').removeClass('update-icon');
            }
        });
        $('.update-btn').on('click',function() {
            var row = $(this).closest('tr');
            var rowId = row.find('.update-btn').data('id');
            var parentRow = $(`tr[data-id='${rowId}']`);
            var title = parentRow.find('.title_surrvey input').val(); // Tên mẫu khảo sát
            var number = parentRow.find('.number_surrvey input').val(); // Số lượng khảo sát
            if(!number) {number = 0};
            if(!title) {
                var modalData = {
                    Title: 'Cảnh báo',
                    Message: 'Vui lòng nhập tên mẫu khảo sát',
                    IconClass: 'fa-info-circle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
            } else if(IN_existingTitles.includes(title)) {
                var modalData = {
                    Title: 'Cảnh báo',
                    Message: 'Tên mẫu khảo sát đã tồn tại',
                    IconClass: 'fa-info-circle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
            } else {
                $.ajax({
                    url: '@Url.Action("CapNhat_IN_MauKhaoSat", "IN_MauKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({Id: rowId,TenMauKhaoSat: title,SoLuongDanhGia: number ?? 0}),
                    success: function(response) {
                        if(response.success) {
                            $('.MauKhaoSat').empty();
                            $('.MauKhaoSat').empty().load('/ManagerSurrvey/GetSurrvey');
                            var modalData = {
                                Title: 'Thành công',
                                Message: 'Cập nhật mẫu khảo sát thành công',
                                IconClass: 'fa-check-circle',
                                HasAction: false,
                                NotificationType: 'success'
                            };
                            showNotificationModal(modalData);
                            IN_existingTitles.push(title);
                        } else {
                            var modalData = {
                                Title: 'Lỗi',
                                Message: response.message,
                                IconClass: 'fa-exclamation-circle',
                                HasAction: false,
                                NotificationType: 'error'
                            };
                            showNotificationModal(modalData);
                        };
                    },

                });
            };
        });
    });
</script>

<script>
    $(document).ready(function() {
        function toggleStatus(clickedElement,isOpen) {
            if(isOpen != null) {
                const isOpen = clickedElement.querySelector('.OUT-switchStatus').classList.contains('on');
                const allRows = document.querySelectorAll('.OUT-trangThai .OUT-switch');
                allRows.forEach(function(row) {
                    row.classList.remove('on');
                    row.classList.add('off');
                });
                if(!isOpen) {
                    const switchElement = clickedElement.querySelector('.OUT-switch');
                    switchElement.classList.remove('off');
                    switchElement.classList.add('on');
                }
            } else {
                const isShow = clickedElement.querySelector('.OUT-switchShow').classList.contains('on');
                if(!isShow) {
                    const switchElement = clickedElement.querySelector('.OUT-switch');
                    switchElement.classList.remove('off');
                    switchElement.classList.add('on');
                } else {
                    const switchElement = clickedElement.querySelector('.OUT-switch');
                    switchElement.classList.remove('on');
                    switchElement.classList.add('off');
                }
            }
        };
        function updateSurveyStatus(id,isOpen,isShow,element) {
            $.ajax({
                url: '@Url.Action("CapNhatTrangThai_OUT_MauKhaoSat", "OUT_MauKhaoSat")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({Id: id,isOpen: isOpen,isShow: isShow}),
                success: function(response) {
                    if(response.success) {
                        toggleStatus(element,isOpen);
                        var modalData = {
                            Title: 'Thành công',
                            Message: 'Thay đổi trạng thái thành công.',
                            IconClass: 'fa-check-circle',
                            HasAction: false,
                            NotificationType: 'success'
                        };
                        showNotificationModal(modalData);
                    } else {
                        var modalData = {
                            Title: 'Lỗi',
                            Message: response.message || 'Có lỗi xảy ra trong quá trình cập nhật.',
                            IconClass: 'fa-exclamation-circle',
                            HasAction: false,
                            NotificationType: 'error'
                        };
                        showNotificationModal(modalData);
                    }
                }
            });
        }
        // Attach event listeners to all .trangThai elements
        document.querySelectorAll('.OUT-trangThai').forEach(function(element) {
            element.addEventListener('click',function() {
                const id = this.getAttribute('data-id');
                const isOpen = this.querySelector('.OUT-switchStatus').classList.contains('on');
                updateSurveyStatus(id,isOpen,null,this); // Toggle state for the update
            });
        });
        document.querySelectorAll('.OUT-hienThi').forEach(function(element) {
            element.addEventListener('click',function() {
                const id = this.getAttribute('data-id');
                const isShow = this.querySelector('.OUT-switchShow').classList.contains('on');
                updateSurveyStatus(id,null,isShow,this); // Toggle state for the update
            });
        });

        var OUT_originalData = {};
        var OUT_existingTitles = @Html.Raw(Json.Serialize(OUT_existingTitles));
        $(document).on('click','.OUT-toggle-icon',function() {
            var $icon = $(this);
            var $row = $icon.closest('tr');
            var $detailRow = $row.next('.OUT-details-row');

            // If the detail row is visible, hide it and restore the icon
            if($detailRow.is(':visible')) {
                $detailRow.hide();
                $icon.html('<u>Xem chi tiết</u>');
                $row.removeClass('highlighted');
                $('.OUT-update-btn').hide();

                // Check if the row has OUT-update-icon class and revert to OUT-update-icon if needed
                var $updateIcon = $detailRow.find('.OUT-delete-update-icon');
                if($updateIcon.hasClass('OUT-delete-update-icon')) {
                    if(OUT_originalData) {
                        $detailRow.find('.OUT_title_surrvey').html(OUT_originalData.OUT_title_surrvey);
                        $detailRow.find('.OUT_number_surrvey').html(OUT_originalData.OUT_number_surrvey);
                        // Change back the icon to edit mode
                        $updateIcon.html('<i class="fas fa-edit"></i>');
                        $updateIcon.addClass('OUT-update-icon').removeClass('OUT-delete-update-icon');
                        // Add back the title to OUT_existingTitles
                        if(!OUT_existingTitles.includes(OUT_originalData.OUT_title_surrvey)) {
                            OUT_existingTitles.push(OUT_originalData.OUT_title_surrvey);
                        }
                    }
                }
            } else {
                // Đóng tất cả các hàng chi tiết khác
                $('.OUT-details-row:visible').each(function() {
                    var $otherDetailRow = $(this);
                    var $row = $otherDetailRow.prev();
                    var $icon = $(this);
                    var $detailRow = $row.next('.OUT-details-row');
                    // Đóng hàng chi tiết khác
                    $otherDetailRow.hide();
                    $row.find('.OUT-toggle-icon').html('<u>Xem chi tiết</u>');
                    $row.removeClass('highlighted');
                    $('.OUT-update-btn').hide();
                    // Check if the row has OUT-update-icon class and revert to OUT-update-icon if needed
                    var $updateIcon = $detailRow.find('.OUT-delete-update-icon');
                    if($updateIcon.hasClass('OUT-delete-update-icon')) {
                        if(OUT_originalData) {
                            $detailRow.find('.OUT_title_surrvey').html(OUT_originalData.OUT_title_surrvey);
                            $detailRow.find('.OUT_number_surrvey').html(OUT_originalData.OUT_number_surrvey);
                            // Change back the icon to edit mode
                            $updateIcon.html('<i class="fas fa-edit"></i>');
                            $updateIcon.addClass('OUT-update-icon').removeClass('OUT-delete-update-icon');
                        }
                    }
                    // Add back the title to OUT_existingTitles
                    if(!OUT_existingTitles.includes(OUT_originalData.OUT_title_surrvey)) {
                        OUT_existingTitles.push(OUT_originalData.OUT_title_surrvey);
                    }
                });
                // Mở hàng chi tiết hiện tại
                $detailRow.show();
                $icon.html('<u>Ẩn chi tiết</u>');
                $icon.closest('tr').addClass('highlighted');
            }
        });
        $(document).on('click','.OUT-delete-icon',function() {
            var id = $(this).data('id');
            var $parentRow = $('tr.OUT-parent-details-row[data-id="' + id + '"]'); // Tìm hàng chính dựa trên data-id
            var $detailRow = $parentRow.next('.OUT-details-row'); // Tìm hàng chi tiết ngay sau hàng chính
            var title = $detailRow.find('.OUT_title_surrvey').text();
            showWarningModal({
                Title: 'Xác nhận Đánh dấu xóa',
                Message: 'Bạn có chắc chắn muốn đánh dấu xóa mẫu khảo sát này không?',
                IconClass: 'fa-exclamation-triangle'
            },function() {
                $.ajax({
                    url: '@Url.Action("CapNhatTrangThai_OUT_MauKhaoSat", "OUT_MauKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({Id: id,Xoa: true}),
                    success: function(response) {
                        if(response.success) {
                            // Xóa hàng khỏi bảng
                            $parentRow.add($detailRow).remove();
                            var modalData = {
                                Title: 'Thành công',
                                Message: 'Dữ liệu đã xóa thành công.',
                                IconClass: 'fa-check-circle',
                                HasAction: false,
                                NotificationType: 'success'
                            };
                            showNotificationModal(modalData);
                            OUT_existingTitles = OUT_existingTitles.filter(t => t !== title);
                        } else {
                            var modalData = {
                                Title: 'Lỗi',
                                Message: response.message || 'Có lỗi xảy ra trong quá trình xóa.',
                                IconClass: 'fa-exclamation-circle',
                                HasAction: false,
                                NotificationType: 'error'
                            };
                            showNotificationModal(modalData);
                        }
                    },

                });
            });
        });
        $('.OUT-update-icon').on('click',function() {
            var row = $(this).closest('tr');
            var rowId = row.find('.OUT-delete-icon').data('id');
            // Check if already in edit mode
            if($(this).hasClass('OUT-delete-update-icon')) {
                // Restore the original values
                var original = row.data('OUT_originalData'); // Retrieve stored original data for this row
                if(original) {
                    row.find('.OUT_title_surrvey').html(original.OUT_title_surrvey);
                    row.find('.OUT_number_surrvey').html(original.OUT_number_surrvey);

                    // Change back the icon to edit mode
                    $(this).html('<i class="fas fa-edit"></i>');
                    $(this).addClass('OUT-update-icon').removeClass('OUT-delete-update-icon');
                }

                // Add back the title to OUT_existingTitles
                OUT_existingTitles.push(original.OUT_title_surrvey);
                $('.OUT-update-btn').hide();
            } else {
                // Enter edit mode
                var OUT_title_surrvey = row.find('.OUT_title_surrvey').text();
                var OUT_number_surrvey = row.find('.OUT_number_surrvey').text();

                // Store the original values for later restoration
                row.data('OUT_originalData',{
                    OUT_title_surrvey: OUT_title_surrvey,
                    OUT_number_surrvey: OUT_number_surrvey
                });
                OUT_originalData = {
                    OUT_title_surrvey: OUT_title_surrvey,
                    OUT_number_surrvey: OUT_number_surrvey
                }

                // Remove the title from OUT_existingTitles to prevent duplicates
                OUT_existingTitles = OUT_existingTitles.filter(function(title) {
                    return title !== OUT_title_surrvey;
                });

                // Replace table cells with editable inputs
                row.find('.OUT_title_surrvey').html(`<input type="text" class="form-control" value="${OUT_title_surrvey}" style="width: 100%; max-width: 146px;font-size: 0.9em"/>`);
    @*row.find('.OUT_end_date').html(`<input type="date" class="form-control" value="${OUT_end_date}" style="width: 146px; font-size: 0.9em"/>`);*@
                    row.find('.OUT_number_surrvey').html(`<input type="number" class="form-control" value="${OUT_number_surrvey}" style="width: 50%;font-size: 0.9em" min="0"/>`);
                $('.OUT-update-btn').show();
                // Change the icon to cancel mode (X icon)
                $(this).html('<i class="fas fa-times"></i>');
                $(this).addClass('OUT-delete-update-icon').removeClass('OUT-update-icon');
            }
        });
        $('.OUT-update-btn').on('click',function() {
            var row = $(this).closest('tr');
            var rowId = row.find('.OUT-update-btn').data('id');
            var parentRow = $(`tr[data-id='${rowId}']`);
            var title = parentRow.find('.OUT_title_surrvey input').val(); // Tên mẫu khảo sát
    @*var startDate = parentRow.find('.OUT-startDate').text()
                var endDate = parentRow.find('.OUT_end_date input').val(); // Ngày kết thúc*@
            var number = parentRow.find('.OUT_number_surrvey input').val(); // Số lượng khảo sát
            if(!number) {number = 0};
            if(!title) {
                var modalData = {
                    Title: 'Cảnh báo',
                    Message: 'Vui lòng nhập tên mẫu khảo sát',
                    IconClass: 'fa-info-circle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
            } else if(OUT_existingTitles.includes(title)) {
                var modalData = {
                    Title: 'Cảnh báo',
                    Message: 'Tên mẫu khảo sát đã tồn tại',
                    IconClass: 'fa-info-circle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
            } else {

                $.ajax({
                    url: '@Url.Action("CapNhat_OUT_MauKhaoSat", "OUT_MauKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({Id: rowId,TenMauKhaoSat: title,SoLuongDanhGia: number ?? 0}),
                    success: function(response) {
                        if(response.success) {
                            $('.MauKhaoSat').empty();
                            $('.MauKhaoSat').empty().load('/ManagerSurrvey/GetSurrvey');
                            var modalData = {
                                Title: 'Thành công',
                                Message: 'Cập nhật mẫu khảo sát thành công',
                                IconClass: 'fa-check-circle',
                                HasAction: false,
                                NotificationType: 'success'
                            };
                            showNotificationModal(modalData);
                            OUT_existingTitles.push(title);
                        } else {
                            var modalData = {
                                Title: 'Lỗi',
                                Message: response.message,
                                IconClass: 'fa-exclamation-circle',
                                HasAction: false,
                                NotificationType: 'error'
                            };
                            showNotificationModal(modalData);
                        };
                    },
                    error: function(xhr,status,error) {
                        alert('Có lỗi xảy ra ngoại lệ: ' + error);
                    }
                });
            };
        });
    });
</script>
<script>
    $(document).ready(function() {
        function toggleStatus(clickedElement,isOpen) {
            if(isOpen != null) {
                const isOpen = clickedElement.querySelector('.ORTHER-switchStatus').classList.contains('on');
                const allRows = document.querySelectorAll('.ORTHER-trangThai .ORTHER-switch');
                allRows.forEach(function(row) {
                    row.classList.remove('on');
                    row.classList.add('off');
                });
                if(!isOpen) {
                    const switchElement = clickedElement.querySelector('.ORTHER-switch');
                    switchElement.classList.remove('off');
                    switchElement.classList.add('on');
                }
            } else {
                const isShow = clickedElement.querySelector('.ORTHER-switchShow').classList.contains('on');
                if(!isShow) {
                    const switchElement = clickedElement.querySelector('.ORTHER-switch');
                    switchElement.classList.remove('off');
                    switchElement.classList.add('on');
                } else {
                    const switchElement = clickedElement.querySelector('.ORTHER-switch');
                    switchElement.classList.remove('on');
                    switchElement.classList.add('off');
                }
            }
        };
        function updateSurveyStatus(id,isOpen,isShow,element) {
            $.ajax({
                url: '@Url.Action("CapNhatTrangThai_ORTHER_MauKhaoSat", "ORTHER_MauKhaoSat")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({Id: id,isOpen: isOpen,isShow: isShow}),
                success: function(response) {
                    if(response.success) {
                        toggleStatus(element,isOpen);
                        var modalData = {
                            Title: 'Thành công',
                            Message: 'Thay đổi trạng thái thành công.',
                            IconClass: 'fa-check-circle',
                            HasAction: false,
                            NotificationType: 'success'
                        };
                        showNotificationModal(modalData);
                    } else {
                        var modalData = {
                            Title: 'Lỗi',
                            Message: response.message || 'Có lỗi xảy ra trong quá trình cập nhật.',
                            IconClass: 'fa-exclamation-circle',
                            HasAction: false,
                            NotificationType: 'error'
                        };
                        showNotificationModal(modalData);
                    }
                }
            });
        }
        // Attach event listeners to all .trangThai elements
        document.querySelectorAll('.ORTHER-trangThai').forEach(function(element) {
            element.addEventListener('click',function() {
                const id = this.getAttribute('data-id');
                const isOpen = this.querySelector('.ORTHER-switchStatus').classList.contains('on');
                updateSurveyStatus(id,isOpen,null,this); // Toggle state for the update
            });
        });
        document.querySelectorAll('.ORTHER-hienThi').forEach(function(element) {
            element.addEventListener('click',function() {
                const id = this.getAttribute('data-id');
                const isShow = this.querySelector('.ORTHER-switchShow').classList.contains('on');
                updateSurveyStatus(id,null,isShow,this); // Toggle state for the update
            });
        });

        var ORTHER_originalData = {};
        var ORTHER_existingTitles = @Html.Raw(Json.Serialize(ORTHER_existingTitles));
        $(document).on('click','.ORTHER-toggle-icon',function() {
            var $icon = $(this);
            var $row = $icon.closest('tr');
            var $detailRow = $row.next('.ORTHER-details-row');

            // If the detail row is visible, hide it and restore the icon
            if($detailRow.is(':visible')) {
                $detailRow.hide();
                $icon.html('<u>Xem chi tiết</u>');
                $row.removeClass('highlighted');
                $('.ORTHER-update-btn').hide();

                // Check if the row has ORTHER-update-icon class and revert to ORTHER-update-icon if needed
                var $updateIcon = $detailRow.find('.ORTHER-delete-update-icon');
                if($updateIcon.hasClass('ORTHER-delete-update-icon')) {
                    if(ORTHER_originalData) {
                        $detailRow.find('.ORTHER_title_surrvey').html(ORTHER_originalData.ORTHER_title_surrvey);
                        $detailRow.find('.ORTHER_number_surrvey').html(ORTHER_originalData.ORTHER_number_surrvey);
                        // Change back the icon to edit mode
                        $updateIcon.html('<i class="fas fa-edit"></i>');
                        $updateIcon.addClass('ORTHER-update-icon').removeClass('ORTHER-delete-update-icon');
                        // Add back the title to ORTHER_existingTitles
                        if(!ORTHER_existingTitles.includes(ORTHER_originalData.ORTHER_title_surrvey)) {
                            ORTHER_existingTitles.push(ORTHER_originalData.ORTHER_title_surrvey);
                        }
                    }
                }
            } else {
                // Đóng tất cả các hàng chi tiết khác
                $('.ORTHER-details-row:visible').each(function() {
                    var $otherDetailRow = $(this);
                    var $row = $otherDetailRow.prev();
                    var $icon = $(this);
                    var $detailRow = $row.next('.ORTHER-details-row');
                    // Đóng hàng chi tiết khác
                    $otherDetailRow.hide();
                    $row.find('.ORTHER-toggle-icon').html('<u>Xem chi tiết</u>');
                    $row.removeClass('highlighted');
                    $('.ORTHER-update-btn').hide();
                    // Check if the row has ORTHER-update-icon class and revert to ORTHER-update-icon if needed
                    var $updateIcon = $detailRow.find('.ORTHER-delete-update-icon');
                    if($updateIcon.hasClass('ORTHER-delete-update-icon')) {
                        if(ORTHER_originalData) {
                            $detailRow.find('.ORTHER_title_surrvey').html(ORTHER_originalData.ORTHER_title_surrvey);
                            $detailRow.find('.ORTHER_number_surrvey').html(ORTHER_originalData.ORTHER_number_surrvey);
                            // Change back the icon to edit mode
                            $updateIcon.html('<i class="fas fa-edit"></i>');
                            $updateIcon.addClass('ORTHER-update-icon').removeClass('ORTHER-delete-update-icon');
                        }
                    }
                    // Add back the title to ORTHER_existingTitles
                    if(!ORTHER_existingTitles.includes(ORTHER_originalData.ORTHER_title_surrvey)) {
                        ORTHER_existingTitles.push(ORTHER_originalData.ORTHER_title_surrvey);
                    }
                });
                // Mở hàng chi tiết hiện tại
                $detailRow.show();
                $icon.html('<u>Ẩn chi tiết</u>');
                $icon.closest('tr').addClass('highlighted');
            }
        });
        $(document).on('click','.ORTHER-delete-icon',function() {
            var id = $(this).data('id');
            var $parentRow = $('tr.ORTHER-parent-details-row[data-id="' + id + '"]'); // Tìm hàng chính dựa trên data-id
            var $detailRow = $parentRow.next('.ORTHER-details-row'); // Tìm hàng chi tiết ngay sau hàng chính
            var title = $parentRow.find('.ORTHER_title_surrvey').text();
            showWarningModal({
                Title: 'Xác nhận Đánh dấu xóa',
                Message: 'Bạn có chắc chắn muốn đánh dấu xóa mẫu khảo sát này không?',
                IconClass: 'fa-exclamation-triangle'
            },function() {
                $.ajax({
                    url: '@Url.Action("CapNhatTrangThai_ORTHER_MauKhaoSat", "ORTHER_MauKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({Id: id,Xoa: true}),
                    success: function(response) {
                        if(response.success) {
                            // Xóa hàng khỏi bảng
                            $parentRow.add($detailRow).remove();
                            var modalData = {
                                Title: 'Thành công',
                                Message: 'Dữ liệu đã xóa thành công.',
                                IconClass: 'fa-check-circle',
                                HasAction: false,
                                NotificationType: 'success'
                            };
                            showNotificationModal(modalData);
                            ORTHER_existingTitles = ORTHER_existingTitles.filter(t => t !== title);
                        } else {
                            var modalData = {
                                Title: 'Lỗi',
                                Message: response.message || 'Có lỗi xảy ra trong quá trình xóa.',
                                IconClass: 'fa-exclamation-circle',
                                HasAction: false,
                                NotificationType: 'error'
                            };
                            showNotificationModal(modalData);
                        }
                    },

                });
            });
        });
        $('.ORTHER-update-icon').on('click',function() {
            var row = $(this).closest('tr');
            var rowId = row.find('.ORTHER-delete-icon').data('id');
            // Check if already in edit mode
            if($(this).hasClass('ORTHER-delete-update-icon')) {
                // Restore the original values
                var original = row.data('ORTHER_originalData'); // Retrieve stored original data for this row
                if(original) {
                    row.find('.ORTHER_title_surrvey').html(original.ORTHER_title_surrvey);
                    row.find('.ORTHER_number_surrvey').html(original.ORTHER_number_surrvey);

                    // Change back the icon to edit mode
                    $(this).html('<i class="fas fa-edit"></i>');
                    $(this).addClass('ORTHER-update-icon').removeClass('ORTHER-delete-update-icon');
                }

                // Add back the title to ORTHER_existingTitles
                ORTHER_existingTitles.push(original.ORTHER_title_surrvey);
                $('.ORTHER-update-btn').hide();
            } else {
                // Enter edit mode
                var ORTHER_title_surrvey = row.find('.ORTHER_title_surrvey').text();
                var ORTHER_number_surrvey = row.find('.ORTHER_number_surrvey').text();

                // Store the original values for later restoration
                row.data('ORTHER_originalData',{
                    ORTHER_title_surrvey: ORTHER_title_surrvey,
                    ORTHER_number_surrvey: ORTHER_number_surrvey
                });
                ORTHER_originalData = {
                    ORTHER_title_surrvey: ORTHER_title_surrvey,
                    ORTHER_number_surrvey: ORTHER_number_surrvey
                }

                // Remove the title from ORTHER_existingTitles to prevent duplicates
                ORTHER_existingTitles = ORTHER_existingTitles.filter(function(title) {
                    return title !== ORTHER_title_surrvey;
                });

                // Replace table cells with editable inputs
                row.find('.ORTHER_title_surrvey').html(`<input type="text" class="form-control" value="${ORTHER_title_surrvey}" style="width: 100%; max-width: 146px;font-size: 0.9em"/>`);
                row.find('.ORTHER_number_surrvey').html(`<input type="number" class="form-control" value="${ORTHER_number_surrvey}" style="width: 50%;font-size: 0.9em" min="0"/>`);
                $('.ORTHER-update-btn').show();
                // Change the icon to cancel mode (X icon)
                $(this).html('<i class="fas fa-times"></i>');
                $(this).addClass('ORTHER-delete-update-icon').removeClass('ORTHER-update-icon');
            }
        });
        $('.ORTHER-update-btn').on('click',function() {
            var row = $(this).closest('tr');
            var rowId = row.find('.ORTHER-update-btn').data('id');
            var parentRow = $(`tr[data-id='${rowId}']`);
            var title = parentRow.find('.ORTHER_title_surrvey input').val(); // Tên mẫu khảo sát
            var number = parentRow.find('.ORTHER_number_surrvey input').val(); // Số lượng khảo sát
            if(!number) {number = 0};
            if(!title) {
                var modalData = {
                    Title: 'Cảnh báo',
                    Message: 'Vui lòng nhập tên mẫu khảo sát',
                    IconClass: 'fa-info-circle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
            } else if(ORTHER_existingTitles.includes(title)) {
                var modalData = {
                    Title: 'Cảnh báo',
                    Message: 'Tên mẫu khảo sát đã tồn tại',
                    IconClass: 'fa-info-circle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
            } else {

                $.ajax({
                    url: '@Url.Action("CapNhat_ORTHER_MauKhaoSat", "ORTHER_MauKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({Id: rowId,TenMauKhaoSat: title,SoLuongDanhGia: number ?? 0}),
                    success: function(response) {
                        if(response.success) {
                            $('.MauKhaoSat').empty();
                            $('.MauKhaoSat').empty().load('/ManagerSurrvey/GetSurrvey');
                            var modalData = {
                                Title: 'Thành công',
                                Message: 'Cập nhật mẫu khảo sát thành công',
                                IconClass: 'fa-check-circle',
                                HasAction: false,
                                NotificationType: 'success'
                            };
                            showNotificationModal(modalData);
                            ORTHER_existingTitles.push(title);
                        } else {
                            var modalData = {
                                Title: 'Lỗi',
                                Message: response.message,
                                IconClass: 'fa-exclamation-circle',
                                HasAction: false,
                                NotificationType: 'error'
                            };
                            showNotificationModal(modalData);
                        };
                    },
                    error: function(xhr,status,error) {
                        alert('Có lỗi xảy ra ngoại lệ: ' + error);
                    }
                });
            };
        });
    });
</script>

<script>
    $(document).ready(function() {
        let surveyType = '';
        // Handle QR code icon click
        $(".IN_qrcode-icon").on("click",function() {
            const rowId = $(this).closest('tr').find('.IN_qrcode-icon').data('id');
            $.ajax({
                url: '@Url.Action("GenerateQRCode_IN_DanhGiaKhaoSat", "QRCode")',
                type: 'GET',
                data: {Id: rowId},
                success: function(response) {
                    // Set the QR code image source
                    $("#qrCodeImage").attr("src",response);
                    $("#qrCodeModal").fadeIn();
                    surveyType = "IN";
                },
                error: function(jqXHR,textStatus,errorThrown) {
                    console.error("Error details:",jqXHR,textStatus,errorThrown);
                    alert("Error generating QR code: " + textStatus);
                }
            });
        });

        // Close modal when 'X' is clicked
        $("#closeModal").on("click",function() {
            $("#qrCodeModal").fadeOut();
        });

        // Close modal when clicking outside the modal content
        $(window).on("click",function(event) {
            if($(event.target).is("#qrCodeModal")) {
                $("#qrCodeModal").fadeOut();
            }
        });
        $(".OUT_qrcode-icon").on("click",function() {
            const rowId = $(this).closest('tr').find('.OUT_qrcode-icon').data('id');
            $.ajax({
                url: '@Url.Action("GenerateQRCode_OUT_DanhGiaKhaoSat", "QRCode")',
                type: 'GET',
                data: {Id: rowId},
                success: function(response) {
                    // Set the QR code image source
                    $("#qrCodeImage").attr("src",response);
                    $("#qrCodeModal").fadeIn();
                    surveyType = "OUT";
                },
                error: function(jqXHR,textStatus,errorThrown) {
                    console.error("Error details:",jqXHR,textStatus,errorThrown);
                    alert("Error generating QR code: " + textStatus);
                }
            });
        });

        // Close modal when 'X' is clicked
        $("#closeModal").on("click",function() {
            $("#qrCodeModal").fadeOut();
        });

        // Close modal when clicking outside the modal content
        $(window).on("click",function(event) {
            if($(event.target).is("#qrCodeModal")) {
                $("#qrCodeModal").fadeOut();
            }
        });

        $(".ORTHER_qrcode-icon").on("click",function() {
            const rowId = $(this).closest('tr').find('.ORTHER_qrcode-icon').data('id');
            $.ajax({
                url: '@Url.Action("GenerateQRCode_ORTHER_DanhGiaKhaoSat", "QRCode")',
                type: 'GET',
                data: {Id: rowId},
                success: function(response) {
                    // Set the QR code image source
                    $("#qrCodeImage").attr("src",response);
                    $("#qrCodeModal").fadeIn();
                    surveyType = "ORTHER";
                },
                error: function(jqXHR,textStatus,errorThrown) {
                    console.error("Error details:",jqXHR,textStatus,errorThrown);
                    alert("Error generating QR code: " + textStatus);
                }
            });
        });

        // Close modal when 'X' is clicked
        $("#closeModal").on("click",function() {
            $("#qrCodeModal").fadeOut();
        });

        // Close modal when clicking outside the modal content
        $(window).on("click",function(event) {
            if($(event.target).is("#qrCodeModal")) {
                $("#qrCodeModal").fadeOut();
            }
        });
        document.getElementById("downloadButton").addEventListener("click",function() {
            const qrCodeImage = document.getElementById("qrCodeImage").src;
            let fileName = '';
            if(surveyType === 'IN') {
                fileName = 'Mau khao sat noi tru';
            } else {
                fileName = 'Mau khao sat ngoai tru';
            }
            const link = document.createElement("a");
            link.href = qrCodeImage;
            link.download = `${fileName}.png`;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
    });
</script>
