@model IEnumerable<feedBackMvc.Models.OUT_NhomCauHoiKhaoSat>
@{
    var OUT_CauHoiKhaoSat = ViewData["OUT_CauHoiKhaoSat"] as IEnumerable<feedBackMvc.Models.OUT_CauHoiKhaoSat>;
}
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">*@
<link rel="stylesheet" href="~/css/_Show_OUT_NhomCauHoiKhaoSat.css" />
@{
    var existingTitles = Model.Select(n => n.TieuDe).ToList();
    var existingTitleChilds = Model.SelectMany(n => n.CauHoiKhaoSats.Select(c => c.TieuDeCauHoi)).ToList();
}
<partial name="_NotificationModal" model="new NotificationModalModel()" />
<partial name="_WarningModal" model="new WarningModalModel()" />

<input type="hidden" id="existing-titles-data" value="@Html.Raw(Json.Serialize(existingTitles))" />


<table class="table table-striped">
    <thead>
        <tr>
            <th style="max-width: 150px;">Nhóm câu hỏi [ngoại trú]</th>
            <th>Nội dung</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="question-group-container">
        @foreach (var nhom in Model)
        {
            <tr class="parent-row" data-target="#questions-@nhom.IdOUT_NhomCauHoiKhaoSat">
                <td class="title" style="font-weight: 500; max-width: 150px;">@nhom.TieuDe</td>
                <td class="content">@nhom.NoiDung</td>
                <td>
                    <span class="toggleIcon" data-target="#questions-@nhom.IdOUT_NhomCauHoiKhaoSat" style="color: blue;">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                    <span class="updateIcon" data-id="@nhom.IdOUT_NhomCauHoiKhaoSat"
                        style="cursor: pointer; color: #00b22c; margin-right: 10px;">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span class="deleteIcon" data-id="@nhom.IdOUT_NhomCauHoiKhaoSat"
                        style="cursor: pointer; color: #777777;">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                </td>
            </tr>
            <tr class="child-questions" id="@nhom.IdOUT_NhomCauHoiKhaoSat">
                <td colspan="3">
                    <table class="child-table">
                        <thead>
                            <tr>
                                <th>Tiêu đề câu hỏi</th>
                                <th>Câu hỏi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cauHoi in nhom.CauHoiKhaoSats)
                            {
                                <tr class="child-row" data-target="#questions-@cauHoi.IdOUT_CauHoiKhaoSat">
                                    <td class="title-question" style="width:18%;">@cauHoi.TieuDeCauHoi</td>
                                    <td class="question">@cauHoi.CauHoi</td>
                                    <td style="min-width: 100px; justify-content: space-around; align-items: center;">
                                        <span class="updateIcon-child" data-id="@cauHoi.IdOUT_CauHoiKhaoSat"
                                            style="cursor: pointer; color: #00b22c; margin-right: 10px;">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                        <span class="deleteIcon-child" data-id="@cauHoi.IdOUT_CauHoiKhaoSat"
                                            style="cursor: pointer; color: #777777;">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <div class="footer-buttons">
                                        <button id="" class="add-row-btn-child btn btn-success">
                                            <i class="fas fa-plus-circle"></i> Thêm câu hỏi
                                        </button>
                                        <button id="" class="cancel-all-btn-child btn btn-danger" style="display: none;">
                                            <i class="fas fa-times"></i> Hủy tất cả
                                        </button>
                                        <button id="" class="add-all-btn-child btn btn-success" style="display: none;">
                                            <i class="fas fa-check-double"></i> Thêm tất cả
                                        </button>
                                        <button id="" class="update-all-btn-child btn btn-update" style="display: none;">
                                            <i class="fas fa-save"></i> Lưu cập nhật
                                        </button>
                                        <button id="" class="cancel-update-all-btn-child btn btn-danger"
                                            style="display: none;">
                                            <i class="fas fa-times"></i> Hủy cập nhật
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <div class="footer-buttons">
                    <button id="add-row-btn" class="btn btn-success">
                        <i class="fas fa-plus-circle"></i> Thêm
                    </button>
                    <button id="cancel-all-btn" class="btn btn-danger" style="display: none;">
                        <i class="fas fa-times"></i> Hủy tất cả
                    </button>
                    <button id="add-all-btn" class="btn btn-success" style="display: none;">
                        <i class="fas fa-check-double"></i> Thêm tất cả
                    </button>
                    <button id="update-all-btn" class="btn btn-update" style="display: none;">
                        <i class="fas fa-save"></i> Lưu cập nhật
                    </button>
                    <button id="cancel-update-all-btn" class="btn btn-danger" style="display: none;">
                        <i class="fas fa-times"></i> Hủy cập nhật
                    </button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
<script>
    $(document).ready(function() {
        var originalData = {};
        var editedRows = new Set();
        var existingTitles = @Html.Raw(Json.Serialize(existingTitles));
        // Toggle visibility of child questions
        function toggleChildQuestions(target) {
            var icon = $(target).closest('tr').find('.toggleIcon i');
            var childRow = $(target).closest('tr').next('.child-questions');
            childRow.toggle();
            icon.toggleClass('fa-chevron-right fa-chevron-down');
        }

        // Handle click on the toggle icon
        $('.toggleIcon').on('click',function() {
            toggleChildQuestions(this);
        });

        // Handle click on the content column
    @*$('.content').on('click', function () {
            toggleChildQuestions(this);
            });*@
            // Handle adding new rows
            $('#add-row-btn').on('click',function() {
                var newRowHtml = `
                <tr class="new-row">
                    <td style="max-width: 146px;"><input type="text" class="form-control" placeholder="Nhập nhóm câu hỏi"></td>
                    <td><input type="text" class="form-control" placeholder="Nhập nội dung"></td>
                    <td class="delete-row"><i class="fas fa-times"></i></td>
                </tr>`;
                $('#question-group-container').append(newRowHtml);
                $('#cancel-all-btn').show();
                $('#add-all-btn').show();
            });
        // Handle removing new rows
        $(document).on('click','.delete-row',function() {
            $(this).closest('.new-row').remove();
            if($('.new-row').length === 0) {
                $('#cancel-all-btn').hide();
                $('#add-all-btn').hide();
            }
        });
        // Handle canceling all new rows
        $('#cancel-all-btn').on('click',function() {
            $('.new-row').remove();
            $('#cancel-all-btn').hide();
            $('#add-all-btn').hide();
        });

        // Handle adding all rows
        $('#add-all-btn').on('click',function() {
            var allFilled = true;
            var titles = [];
            var hasDuplicate = false;
            var titleLenght = false;
            $('.new-row').each(function() {
                var inputs = $(this).find('input');
                var title = inputs.eq(0).val().trim();
                var content = inputs.eq(1).val().trim();
                if(title === '' || content === '') {
                    allFilled = false;
                }
                if(title.length > 5) {
                    titleLenght = true;
                }
                if(titles.includes(title) || existingTitles.includes(title)) {
                    hasDuplicate = true;
                }
                titles.push(title);
            });

            if(!allFilled) {
                var modalData = {
                    Title: 'Nhắc nhở',
                    Message: 'Vui lòng nhập đầy đủ thông tin.',
                    IconClass: 'fa-info-circle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
            } else if(titleLenght) {
                var modalData = {
                    Title: 'Nhắc nhở',
                    Message: 'Tên nhóm không được dài quá 5 ký tự.',
                    IconClass: 'fa-info-circle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
                return;
            }
            else if(hasDuplicate) {
                var modalData = {
                    Title: 'Lỗi',
                    Message: 'Tiêu đề đã tồn tại!',
                    IconClass: 'fa-exclamation-triangle',
                    HasAction: false,
                    NotificationType: 'error'
                };
                showNotificationModal(modalData);
                return;
            } else {
                var titles = [];
                var contents = [];
                $('.new-row').each(function() {
                    var inputs = $(this).find('input');
                    titles.push(inputs.eq(0).val().trim());
                    contents.push(inputs.eq(1).val().trim());
                });
                $.ajax({
                    url: '@Url.Action("ThemNhomCauHoiKhaoSat", "OUT_NhomCauHoiKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({TieuDes: titles,NoiDungs: contents}),
                    success: function(response) {
                        $('.new-row').remove();
                        $('#cancel-all-btn').hide();
                        $('#add-all-btn').hide();
                        $('.table-striped').empty();
                        $('.table-striped').empty().load('/OUT_NhomCauHoiKhaoSat/Show_OUT_NhomCauHoiKhaoSat',function() {
                            // Chỉ gắn lại sự kiện nếu có nội dung mới
                        });
                        existingTitles = existingTitles.concat(titles);
                        // Show success notification
                        var modalData = {
                            Title: 'Thành công',
                            Message: 'Dữ liệu đã được thêm thành công.',
                            IconClass: 'fa-check-circle',
                            HasAction: false,
                            NotificationType: 'success'
                        };
                        showNotificationModal(modalData);
                    },
                    error: function(xhr,status,error) {
                        alert('Có lỗi xảy ra rồi nè: ' + error);
                    }
                });
            }
        });
        // Handle delete icon click
        $('.deleteIcon').on('click',function() {
            var id = $(this).data('id');
            var row = $(this).closest('.parent-row');
            var child = row.next('.child-questions');
            var title = row.find('.title').text().trim();
            showWarningModal({
                Title: 'Xác nhận xóa',
                Message: 'Bạn có chắc chắn muốn xóa nhóm câu hỏi này không?',
                IconClass: 'fa-exclamation-triangle'
            },function() {
                $.ajax({
                    url: '@Url.Action("XoaNhomCauHoiKhaoSat", "OUT_NhomCauHoiKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({Id: id}),
                    success: function(response) {
                        if(response.success) {
                            row.remove();
                            child.remove();
                            existingTitles = existingTitles.filter(function(title) {
                                return title !== title;
                            });

                            var modalData = {
                                Title: 'Thành công',
                                Message: 'Dữ liệu đã xóa thành công.',
                                IconClass: 'fa-check-circle',
                                HasAction: false,
                                NotificationType: 'success'
                            };
                            showNotificationModal(modalData);
                        } else {
                            var modalData = {
                                Title: 'Lỗi không thể xóa',
                                Message: response.message || 'Có lỗi xảy ra trong quá trình xóa.',
                                IconClass: 'fa-exclamation-circle',
                                HasAction: false,
                                NotificationType: 'error'
                            };
                            showNotificationModal(modalData);
                        }
                    },
                });
            });
        });
        // Handle update icon click
        $('.updateIcon').on('click',function() {
            if($(this).hasClass('delete-updateIcon')) {
                var rowId = $(this).data('id'); // Lấy ID của hàng đang chỉnh sửa
                var original = originalData[rowId]; // Lấy dữ liệu gốc đã lưu trữ trước đó
                if(original) {
                    var row = $(`tr[data-target='#questions-${rowId}']`); // Lấy hàng tương ứng
                    row.find('.title').html(original.title); // Khôi phục tiêu đề
                    row.find('.content').html(original.content); // Khôi phục nội dung
                    $(this).html('<i class="fas fa-edit"></i>'); // Thay đổi biểu tượng trở lại thành "edit"
                    $(this).addClass('updateIcon').removeClass('delete-updateIcon'); // Thay đổi lại class
                };
                editedRows.delete(rowId);
                existingTitles.push(original.title);
                // Kiểm tra nếu không còn hàng nào đang chỉnh sửa, ẩn các nút cập nhật hàng loạt
                if($('.delete-updateIcon').length === 0) {
                    $('#update-all-btn').hide();
                    $('#cancel-update-all-btn').hide();
                    $('#add-row-btn').removeClass('hidden');
                };
            } else {
                var title = $(this).closest('tr').find('.title');
                var content = $(this).closest('tr').find('.content');
                var currentTitle = title.text();
                var currentContent = content.text();
                var rowId = $(this).data('id');
                existingTitles = existingTitles.filter(function(title) {
                    return title !== currentTitle;
                });
                // Store original values
                if(!originalData[rowId]) {
                    originalData[rowId] = {title: currentTitle,content: currentContent};
                };
                editedRows.add(rowId);
                $('#add-row-btn').addClass('hidden');
                $('#cancel-all-btn').hide();
                $('#add-all-btn').hide();
                $('.new-row').remove();
                $('#update-all-btn').show();
                $('#cancel-update-all-btn').show();
                title.html('<input type="text" class="form-control" value="' + currentTitle + '" style="width: 100%; max-width: 146px;"/>');
                content.html('<input type="text" class="form-control" value="' + currentContent + '" style="width: 100%;"/>');
                // Thay đổi icon Cập nhật thành icon Save
                this.innerHTML = '<i class="fas fa-times"></i>';
                this.classList.add('delete-updateIcon');
                this.classList.remove('updateIcon');
            }
        });
        $('#cancel-update-all-btn').on('click',function() {
            editedRows.forEach(function(rowId) {
                var original = originalData[rowId];
                console.log(original);
                if(original) {
                    var row = $(`tr[data-target='#questions-${rowId}']`);
                    console.log(row);
                    row.find('.title').html(original.title);
                    row.find('.content').html(original.content);
                    row.find('.delete-updateIcon').each(function() {
                        $(this).html('<i class="fas fa-edit"></i>');
                        $(this).addClass('updateIcon').removeClass('delete-updateIcon');
                    });
                }
            });
            $('#add-row-btn').removeClass('hidden');
            $('#update-all-btn').hide();
            $('#cancel-update-all-btn').hide();
            originalData = {};
            editedRows.clear();
        });
        // Handle update all button click
        $('#update-all-btn').on('click',function() {
            var updates = [];
            editedRows.forEach(function(rowId) {
                var row = $(`tr[data-target='#questions-${rowId}']`);
                var title = row.find('.title input').val().trim();
                var content = row.find('.content input').val().trim();
                updates.push({
                    Id: rowId,
                    TieuDe: title,
                    NoiDung: content
                });
            });
            function hasDuplicatesItem(array) {
                return new Set(array).size !== array.length;
            };
            var TieuDes = updates.map(function(update) {
                return update.TieuDe;
            });
            var hasDuplicate = updates.some(function(update) {
                return existingTitles.includes(update.TieuDe);
            });
            var hasLongTitle = updates.some(function(update) {
                return update.TieuDe.length > 5;
            });
            var hasNullTitle = updates.some(function(update) {
                return update.TieuDe === '' || update.NoiDung === '';
            });
            var hasDuplicateItem = hasDuplicatesItem(TieuDes);
            if(hasDuplicate || hasDuplicateItem) {
                var modalData = {
                    Title: 'Lỗi',
                    Message: 'Tiêu đề đã tồn tại!',
                    IconClass: 'fa-exclamation-triangle',
                    HasAction: false,
                    NotificationType: 'error'
                };
                showNotificationModal(modalData);
                return;
            } else if(hasLongTitle) {
                var modalData = {
                    Title: 'Cảnh báo',
                    Message: 'Tiêu đề không vượt quá 5 ký tự',
                    IconClass: 'fa-exclamation-triangle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
                return;
            } else if(hasNullTitle) {
                var modalData = {
                    Title: 'cảnh báo',
                    Message: 'Vui lòng nhập đầy đủ nội dung',
                    IconClass: 'fa-exclamation-triangle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
                return;
            } else {
                $.ajax({
                    url: '@Url.Action("CapNhatNhomCauHoiKhaoSat", "OUT_NhomCauHoiKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(updates),
                    success: function(response) {
                        // Update the rows with the new data
                        updates.forEach(function(update) {
                            var row = $(`tr[data-target='#questions-${update.Id}']`);
                            row.find('.title').text(update.TieuDe);
                            row.find('.content').text(update.NoiDung);
                            row.find('.delete-updateIcon').html('<i class="fas fa-edit"></i>').addClass('updateIcon').removeClass('delete-updateIcon');
                        });
                        // Clear the set of edited rows and original data
                        editedRows.clear();
                        originalData = {};
                        updates.forEach(function(update) {
                            existingTitles.push(update.TieuDe)
                        });
                        // Hide the update and cancel all buttons
                        $('#update-all-btn').hide();
                        $('#cancel-update-all-btn').hide();
                        $('#add-row-btn').removeClass('hidden'); // Show the add row button again

                        // Show success notification
                        var modalData = {
                            Title: 'Thành công',
                            Message: 'Dữ liệu đã được cập nhật thành công.',
                            IconClass: 'fa-check-circle',
                            HasAction: false,
                            NotificationType: 'success'
                        };
                        showNotificationModal(modalData);
                    },
                    error: function(xhr,status,error) {
                        alert('Có lỗi xảy ra: ' + error);
                    }
                });
            };
        });
    });
</script>

<script>
    $(document).ready(function() {
        var originalDataChild = {};
        var editedRowsChild = new Set();
        var existingTitleChilds = @Html.Raw(Json.Serialize(existingTitleChilds));
        // Handle adding new rows to each child table
        $('.add-row-btn-child').on('click',function() {
            // Tìm bảng con cụ thể mà nút "Thêm" đã được nhấn
            var $childTable = $(this).closest('.child-questions').find('.child-table tbody');
            var newRowHtml = `
                <tr class="new-row-child">
                    <td style="max-width: 146px;">
                        <input type="text" class="form-control" placeholder="Nhập tiêu đề câu hỏi">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Nhập câu hỏi">
                    </td>
                    <td class="delete-row-child">
                        <i class="fas fa-times"></i>
                    </td>
                </tr>`;
            // Thêm hàng mới vào bảng con cụ thể
            $childTable.append(newRowHtml);
            // Hiển thị các nút "Thêm tất cả" và "Hủy tất cả" cho bảng con cụ thể
            $(this).closest('.child-questions').find('.cancel-all-btn-child').show();
            $(this).closest('.child-questions').find('.add-all-btn-child').show();
        });
        // Handle deleting a row in each child table
        $(document).on('click','.delete-row-child',function() {
            var $this = $(this);
            var $parentRow = $this.closest('tr');
            $parentRow.remove();
            var $childQuestions = $this.closest('.child-questions');
            if($('.new-row-child').length === 0) {
                $('.cancel-all-btn-child').hide();
                $('.add-all-btn-child').hide();
            }
        });
        // Handle "Hủy tất cả" cho mỗi bảng con
        $('.cancel-all-btn-child').on('click',function() {
            $(this).closest('.child-questions').find('.child-table tbody .new-row-child').remove();
            $(this).hide();
            $(this).closest('.child-questions').find('.add-all-btn-child').hide();
        });
        // Handle "Thêm tất cả" cho mỗi bảng con
        $('.add-all-btn-child').on('click',function() {
            console.log('Them tat ca');
            var allFilledChild = true;
            var titlesChild = [];
            var hasDuplicateChild = false;
            var titleLenghtChild = false;
            $('.new-row-child').each(function() {
                var inputs = $(this).find('input');
                var title = inputs.eq(0).val().trim();
                var content = inputs.eq(1).val().trim();
                if(title === '' || content === '') {
                    allFilledChild = false;
                }
                if(title.length > 5) {
                    titleLenghtChild = true;
                }
                if(titlesChild.includes(title) || existingTitleChilds.includes(title)) {
                    hasDuplicateChild = true;
                }
                titlesChild.push(title);
            });
            if(!allFilledChild) {
                var modalData = {
                    Title: 'Nhắc nhở',
                    Message: 'Vui lòng nhập đầy đủ thông tin.',
                    IconClass: 'fa-info-circle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
            } else if(titleLenghtChild) {
                var modalData = {
                    Title: 'Nhắc nhở',
                    Message: 'Tiều đề câu hỏi không dài quá 5 ký tự.',
                    IconClass: 'fa-info-circle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
                return;
            } else if(hasDuplicateChild) {
                var modalData = {
                    Title: 'Lỗi',
                    Message: 'Tiêu đề câu hỏi đã tồn tại!',
                    IconClass: 'fa-exclamation-triangle',
                    HasAction: false,
                    NotificationType: 'error'
                };
                showNotificationModal(modalData);
                return;
            } else {
                var titles = [];
                var contents = [];
                var parentRowChild = $(this).closest('.child-questions');
                var groupId = parentRowChild.attr('id');
                $('.new-row-child').each(function() {
                    var inputs = $(this).find('input');
                    titles.push(inputs.eq(0).val().trim());
                    contents.push(inputs.eq(1).val().trim());
                });
                $.ajax({
                    url: '@Url.Action("ThemCauHoiKhaoSat", "OUT_CauHoiKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({TieuDeCauHois: titles,CauHois: contents,Id: groupId}),
                    success: function(response) {
                        $('.new-row-child').remove();
                        $(this).hide();
                        $(this).closest('.child-questions').find('.cancel-all-btn-child').hide();
                        $('.table-striped').empty();
                        $('.table-striped').empty().load('/OUT_NhomCauHoiKhaoSat/Show_OUT_NhomCauHoiKhaoSat',function() {
                            // Chỉ gắn lại sự kiện nếu có nội dung mới
                        });
                        existingTitleChilds = existingTitleChilds.concat(titles);
                        // Show success notification
                        var modalData = {
                            Title: 'Thành công',
                            Message: 'Câu hỏi đã được thêm thành công.',
                            IconClass: 'fa-check-circle',
                            HasAction: false,
                            NotificationType: 'success'
                        };
                        showNotificationModal(modalData);
                    },
                    error: function(xhr,status,error) {
                        alert('Có lỗi xảy ra rồi nè: ' + error);
                    }
                });
            }
        });
        $('.updateIcon-child').on('click',function() {
            if($(this).hasClass('delete-updateIcon-child')) {
                var rowId = $(this).data('id');
                console.log(rowId);// Lấy ID của hàng đang chỉnh sửa
                var original = originalDataChild[rowId]; // Lấy dữ liệu gốc đã lưu trữ trước đó
                if(original) {
                    var row = $(`tr[data-target='#questions-${rowId}']`); // Lấy hàng tương ứng
                    row.find('.title-question').html(original.title_question); // Khôi phục tiêu đề
                    row.find('.question').html(original.question); // Khôi phục nội dung
                    $(this).html('<i class="fas fa-edit"></i>'); // Thay đổi biểu tượng trở lại thành "edit"
                    $(this).addClass('updateIcon-child').removeClass('delete-updateIcon-child'); // Thay đổi lại class
                };
                editedRowsChild.delete(rowId);
                existingTitleChilds.push(original.title_question);
                // Kiểm tra nếu không còn hàng nào đang chỉnh sửa, ẩn các nút cập nhật hàng loạt
                if($('.delete-updateIcon-child').length === 0) {
                    $('.update-all-btn-child').hide();
                    $('.cancel-update-all-btn-child').hide();
                    $('.add-row-btn-child').removeClass('hidden');
                };
            } else {
                var title_question = $(this).closest('tr').find('.title-question');
                var question = $(this).closest('tr').find('.question');
                var currentTitleChild = title_question.text();
                var currentContentChild = question.text();
                var rowId = $(this).data('id');
                existingTitleChilds = existingTitleChilds.filter(function(title_question) {
                    return title_question !== currentTitleChild;
                });
                // Store original values
                if(!originalDataChild[rowId]) {
                    originalDataChild[rowId] = {title_question: currentTitleChild,question: currentContentChild};
                };
                editedRowsChild.add(rowId);
                $('.add-row-btn-child').addClass('hidden');
                $('.cancel-all-btn-child').hide();
                $('.add-all-btn-child').hide();
                $('.new-row-child').remove();
                $('.update-all-btn-child').show();
                $('.cancel-update-all-btn-child').show();
                title_question.html('<input type="text" class="form-control" value="' + currentTitleChild + '" style="width: 100%; max-width: 146px;"/>');
                question.html('<input type="text" class="form-control" value="' + currentContentChild + '" style="width: 100%;"/>');
                // Thay đổi icon Cập nhật thành icon Save
                this.innerHTML = '<i class="fas fa-times"></i>';
                this.classList.add('delete-updateIcon-child');
                this.classList.remove('updateIcon-child');
            }
        });
        $('.cancel-update-all-btn-child').on('click',function() {
            editedRowsChild.forEach(function(rowId) {
                var original = originalDataChild[rowId];
                console.log(original);
                if(original) {
                    var row = $(`tr[data-target='#questions-${rowId}']`);
                    row.find('.title-question').html(original.title_question);
                    row.find('.question').html(original.question);
                    row.find('.delete-updateIcon-child').each(function() {
                        $(this).html('<i class="fas fa-edit"></i>');
                        $(this).addClass('updateIcon-child').removeClass('delete-updateIcon-child');
                    });
                }
            });
            $('.add-row-btn-child').removeClass('hidden');
            $('.update-all-btn-child').hide();
            $('.cancel-update-all-btn-child').hide();
            originalDataChild = {};
            editedRowsChild.clear();
        });
        $('.update-all-btn-child').on('click',function() {
            var updatesChild = [];
            editedRowsChild.forEach(function(rowId) {
                var row = $(`tr[data-target='#questions-${rowId}']`);
                var title_question = row.find('.title-question input').val().trim();
                var question = row.find('.question input').val().trim();
                updatesChild.push({
                    Id: rowId,
                    TieuDeCauHoi: title_question,
                    CauHoi: question
                });
            });
            function hasDuplicatesItemChild(array) {
                return new Set(array).size !== array.length;
            };
            var TieuDeCauHois = updatesChild.map(function(update) {
                return update.TieuDeCauHoi;
            });
            var hasDuplicatesItemChild = hasDuplicatesItemChild(TieuDeCauHois);

            var hasDuplicateChild = updatesChild.some(function(updatesChild) {
                return existingTitleChilds.includes(updatesChild.TieuDeCauHoi);
            });
            var hasLongTitleChild = updatesChild.some(function(updateChild) {
                return updateChild.TieuDeCauHoi.length > 5;
            });
            var hasNullTitleChild = updatesChild.some(function(updateChild) {
                return updateChild.TieuDeCauHoi === '' || updateChild.CauHoi === '';
            });
            if(hasDuplicateChild || hasDuplicatesItemChild) {
                var modalData = {
                    Title: 'Lỗi',
                    Message: 'Tiêu đề câu hỏi đã tồn tại!',
                    IconClass: 'fa-exclamation-triangle',
                    HasAction: false,
                    NotificationType: 'error'
                };
                showNotificationModal(modalData);
                return;
            } else if(hasLongTitleChild) {
                var modalData = {
                    Title: 'Cảnh báo',
                    Message: 'Tiêu đề câu hỏi không vượt quá 5 ký tự',
                    IconClass: 'fa-exclamation-triangle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
                return;
            } else if(hasNullTitleChild) {
                var modalData = {
                    Title: 'cảnh báo',
                    Message: 'Vui lòng nhập đầy đủ nội dung',
                    IconClass: 'fa-exclamation-triangle',
                    HasAction: false,
                    NotificationType: 'info'
                };
                showNotificationModal(modalData);
                return;
            } else {
                $.ajax({
                    url: '@Url.Action("CapNhatCauHoiKhaoSat", "OUT_CauHoiKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(updatesChild),
                    success: function(response) {
                        // Update the rows with the new data
                        updatesChild.forEach(function(updateChild) {
                            var row = $(`tr[data-target='#questions-${updateChild.Id}']`);
                            row.find('.title-question').text(updateChild.TieuDeCauHoi);
                            row.find('.question').text(updateChild.CauHoi);
                            row.find('.delete-updateIcon-child').html('<i class="fas fa-edit"></i>').addClass('updateIcon-child').removeClass('delete-updateIcon-child');
                        });
                        // Clear the set of edited rows and original data
                        editedRowsChild.clear();
                        originalDataChild = {};
                        updatesChild.forEach(function(updateChild) {
                            existingTitleChilds.push(updateChild.TieuDeCauHoi)
                        });
                        // Hide the update and cancel all buttons
                        $('.update-all-btn-child').hide();
                        $('.cancel-update-all-btn-child').hide();
                        $('.add-row-btn-child').removeClass('hidden'); // Show the add row button again
                        // Show success notification
                        var modalData = {
                            Title: 'Thành công',
                            Message: 'Dữ liệu đã được cập nhật thành công.',
                            IconClass: 'fa-check-circle',
                            HasAction: false,
                            NotificationType: 'success'
                        };
                        showNotificationModal(modalData);
                    },
                    error: function(xhr,status,error) {
                        alert('Có lỗi xảy ra: ' + error);
                    }
                });
            };
        });
        $('.deleteIcon-child').on('click',function() {
            var rowId = $(this).data('id');
            var row = $(this).closest('.child-row');
            var title = row.find('.title-question').text().trim();
            showWarningModal({
                Title: 'Xác nhận xóa',
                Message: 'Bạn có chắc chắn muốn xóa Câu hỏi này không?',
                IconClass: 'fa-exclamation-triangle'
            },function() {
                $.ajax({
                    url: '@Url.Action("XoaCauHoiKhaoSat", "OUT_CauHoiKhaoSat")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({Id: rowId}),
                    success: function(response) {
                        row.remove();
                        existingTitleChilds = existingTitleChilds.filter(function(title) {
                            return title !== title;
                        });
                        var modalData = {
                            Title: 'Thành công',
                            Message: 'Dữ liệu đã xóa thành công.',
                            IconClass: 'fa-check-circle',
                            HasAction: false,
                            NotificationType: 'success'
                        };
                        showNotificationModal(modalData);
                    },
                    error: function(xhr,status,error) {
                        alert('Có lỗi xảy ra ngoại lệ: ' + error);
                    }
                });
            });
        });
    });
</script>
