@model feedBackMvc.Models.Admins
@{
    Layout = "_Layout"; // Tên của layout chính
}

@{
    ViewData["Title"] = "Quản trị";
    ViewData["HideFooter"] = "d-none"; // Ẩn footer nếu cần
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Hệ thống quản lý feedback</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.6/css/dataTables.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/AdminManager.css" />
    <style>
        .rw-messages-container {
            overflow-y: scroll !important;
            background-image: url('/imgs/logo_medical_chatbot4.png');
            width: 100%;
            background-size: cover;
            background-repeat: repeat;
            background-position: center;
            background-color: rgba(255, 255, 255, 0.2);
            /* Nền phía dưới */
            overflow: hidden;
            /* Để lớp phủ không tràn ra ngoài */
            min-height: 300px;
        }

        .rw-conversation-container .rw-client {
            max-width: 70% !important;
            border-radius: 15px 15px 0 15px !important;
            margin-top: -35px;
            background-color: #006ca6 !important;
            font-size: 15px !important;
        }

        .rw-group-message.rw-from-response {
            position: relative;
            padding-left: 24px;
        }

        .rw-group-message.rw-from-response::before {
            content: '';
            transform: translateY(-50%);
            width: 28px;
            height: 28px;
            background-image: url('/imgs/doctor.png');
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            flex: 1;
            margin: 0;
            margin-left: -16px;
            margin-top: 13px;
        }

        .rw-group-message:not(.rw-from-response) {
            padding-left: 0 !important;
        }

        .rw-group-message:not(.rw-from-response)::before {
            content: none !important;
        }

        .rw-conversation-container .rw-response {
            margin: 0;
            margin-top: -48px;
            margin-bottom: 52px;
            background-color: #edfbff !important;
            margin-left: 6px;
            margin-top: -44px;
            padding: 10px 10px !important;
            border-radius: 0 15px 15px 15px !important;
            font-size: 15px !important;
        }

        .rw-response:has(#wave) {
            margin: 0px !important;
            margin-left: 26px !important;
            margin-top: -10px !important;
        }

        .rw-dot {
            background-color: #003a59 !important;
            /* Màu nền của chấm */
            border-radius: 50%;
            /* Đảm bảo chấm có hình tròn */
            width: 8px;
            /* Đặt kích thước chiều rộng */
            height: 8px;
            /* Đặt kích thước chiều cao */
            opacity: 1 !important;
            /* Đảm bảo chấm không trong suốt */
            filter: none !important;
        }

        .rw-title {
            padding-left: 40px;
        }

        .rw-title::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 36px;
            height: 36px;
            background-image: url('/imgs/doctor.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .rw-conversation-container .rw-header {
            background-image: url('/imgs/logo_medical_chatbot4.png');
            background-size: cover;
            color: #004d76 !important;
        }
    </style>
</head>
<body>
    <button class="mobile-menu-toggle">
        <i class="fas fa-bars"></i>
    </button>
    <div class="container-fluid">
        <div class="row h-100">
            <!-- Sidebar -->
            <div class="col-2 sidebar">
                <!-- User Info -->
                <div class="user-info">
                    <i class="fas fa-user-shield"></i>
                    <span class="nameAdmin" id="adminName">Loading...</span> <!-- Placeholder text -->
                </div>
                <!-- Navigation -->
                @if (Model.Role == 0)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#dashBoard" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">
                                <i class="fas fa-tachometer-alt"></i> Dashboard <i
                                    class="fas fa-angle-right collapse-icon"></i>
                            </a>
                            <ul class="collapse list-unstyled submenu" id="dashBoard">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-url="@Url.Action("Get_Dashboard", "Dashboard")"
                                        data-breadcrumb="Dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#surveySubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">
                                <i class="fas fa-edit"></i> Tạo khảo sát ý kiến<i
                                    class="fas fa-angle-right collapse-icon"></i>
                            </a>
                            <ul class="collapse list-unstyled submenu" id="surveySubmenu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#KhaoSatNoiTru"
                                        data-url="@Url.Action("Show_In_MauKhaoSat", "In_MauKhaoSat")"
                                        data-breadcrumb="Tạo khảo sát ý kiến/ Khảo sát nội trú"><i
                                            class="fas fa-poll-h"></i> Khảo sát nội trú</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#KhaoSatNgoaiTru"
                                        data-url="@Url.Action("Show_OUT_MauKhaoSat", "OUT_MauKhaoSat")"
                                        data-breadcrumb="Tạo khảo sát ý kiến/ Khảo sát ngoại trú"><i
                                            class="fas fa-poll-h"></i> Khảo sát ngoại trú</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#KhaoSatKhac"
                                        data-url="@Url.Action("Show_ORTHER_MauKhaoSat", "ORTHER_MauKhaoSat")"
                                        data-breadcrumb="Tạo khảo sát ý kiến/ Khảo sát khác"><i class="fas fa-poll-h"></i>
                                        Khảo sát khác</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#manageSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">
                                <i class="fas fa-cogs"></i> Quản lý chung <i class="fas fa-angle-right collapse-icon"></i>
                            </a>
                            <ul class="collapse list-unstyled submenu" id="manageSubmenu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#questionGroupSubmenu" data-toggle="collapse"
                                        aria-expanded="false" class="dropdown-toggle">
                                        <i class="fas fa-tasks"></i> Nhóm câu hỏi <i
                                            class="fas fa-angle-right collapse-icon"></i>
                                    </a>
                                    <ul class="collapse list-unstyled submenu" id="questionGroupSubmenu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#NhomCauHoiKhaoSat_NoiTru"
                                                data-url="@Url.Action("Show_In_NhomCauHoiKhaoSat", "In_NhomCauHoiKhaoSat")"
                                                data-breadcrumb="Quản lý chung/ Nhóm câu hỏi/ Nhóm câu hỏi khảo sát nội trú"><i
                                                    class="fas fa-poll-h"></i> Nhóm câu hỏi khảo sát nội trú</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#NhomCauHoiKhaoSat_NgoaiTru"
                                                data-url="@Url.Action("Show_OUT_NhomCauHoiKhaoSat", "OUT_NhomCauHoiKhaoSat")"
                                                data-breadcrumb="Quản lý chung/ Nhóm câu hỏi/ Nhóm câu hỏi khảo sát ngoại trú"><i
                                                    class="fas fa-poll-h"></i> Nhóm câu hỏi khảo sát ngoại trú</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#"
                                                data-url="@Url.Action("Show_ORTHER_NhomCauHoiKhaoSat", "ORTHER_NhomCauHoiKhaoSat")"
                                                data-breadcrumb="Quản lý chung/ Nhóm câu hỏi/ Nhóm câu hỏi khảo sát khác"><i
                                                    class="fas fa-poll-h"></i> Nhóm câu hỏi khảo sát khác</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#QuanLyMauXoa"
                                        data-url="@Url.Action("GetDeleteSurrvey", "ManagerSurrvey")"
                                        data-breadcrumb="Quản lý chung/ Quản lý mẫu xóa"><i
                                            class="fas fa-calendar-times"></i>
                                        Quản lý mẫu xóa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#QuanLyKhaoSat"
                                        data-url="@Url.Action("GetSurrvey", "ManagerSurrvey")"
                                        data-breadcrumb="Quản lý chung/ Quản lý khảo sát ý kiến"><i class="fas fa-poll"></i>
                                        Quản lý mẫu khảo sát ý kiến</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#QuanLyThongTinNguoiKhaoSat"
                                        data-url="@Url.Action("GetManageInfoSurrveier", "ManageInfoSurrveier")"
                                        data-breadcrumb="Quản lý chung/ Quản lý thông tin người thực hiện khảo sát"><i
                                            class="fas fa-wheelchair"></i> Quản lý thông tin người thực hiện khảo sát</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#QuanLyDanhSachDanhGia"
                                        data-url="@Url.Action("GetManageEvaluates", "ManageEvaluates")"
                                        data-breadcrumb="Quản lý chung/ Quản lý danh sách đánh giá"><i
                                            class="fas fa-star-half-alt"></i> Quản lý danh sách đánh giá</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#QuanLyCauHoiChatbot"
                                        data-url="@Url.Action("GetQuestionChatbot", "ManagerQuestionChatbot")"
                                        data-breadcrumb="Quản lý chung/ Danh sách câu hỏi chatbot"><i
                                            class="far fa-comment-dots"></i> Danh sách câu hỏi chatbot</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#accountSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">
                                <i class="fas fa-user-cog"></i> Quản lý tài khoản <i
                                    class="fas fa-angle-right collapse-icon"></i>
                            </a>
                            <ul class="collapse list-unstyled submenu" id="accountSubmenu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-url="@Url.Action("GetAllUserInfo", "AdminManager")"
                                        data-breadcrumb="Quản lý tài khoản/ Thông tin tài khoản"><i
                                            class="fas fa-user-secret"></i> Thông tin tài khoản</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Logout", "Auth")"><i
                                            class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#dashBoard" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">
                                <i class="fas fa-tachometer-alt"></i> Dashboard <i
                                    class="fas fa-angle-right collapse-icon"></i>
                            </a>
                            <ul class="collapse list-unstyled submenu" id="dashBoard">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" data-url="@Url.Action("Get_Dashboard", "Dashboard")"
                                        data-breadcrumb="Dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#manageSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">
                                <i class="fas fa-cogs"></i> Quản lý chung <i class="fas fa-angle-right collapse-icon"></i>
                            </a>
                            <ul class="collapse list-unstyled submenu" id="manageSubmenu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#QuanLyThongTinNguoiKhaoSat"
                                        data-url="@Url.Action("GetManageInfoSurrveier", "ManageInfoSurrveier")"
                                        data-breadcrumb="Quản lý chung/ Quản lý thông tin người thực hiện khảo sát"><i
                                            class="fas fa-wheelchair"></i> Quản lý thông tin người thực hiện khảo sát</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#QuanLyDanhSachDanhGia"
                                        data-url="@Url.Action("GetManageEvaluates", "ManageEvaluates")"
                                        data-breadcrumb="Quản lý chung/ Quản lý danh sách đánh giá"><i
                                            class="fas fa-star-half-alt"></i> Quản lý danh sách đánh giá</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#accountSubmenu" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">
                                <i class="fas fa-user-cog"></i> Quản lý tài khoản <i
                                    class="fas fa-angle-right collapse-icon"></i>
                            </a>
                            <ul class="collapse list-unstyled submenu" id="accountSubmenu">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Logout", "Auth")"><i
                                            class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
            <div id="breadcrumb">
                <nav aria-label="breadcrumb" style="color: blue;">
                    <ol class="breadcrumb">
                        <li style="color: blue;" class="breadcrumb-item">Dashboard</li>
                    </ol>
                </nav>
            </div>
            <!-- Main View -->
            <div class="col-10 col-12 main-view">
            </div>
        </div>
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
            aria-hidden="true">
            <div class="modal-dialog custom-modal-width" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="justify-content: space-between; display: flex;">
                        <img src="~/imgs/LoginSucess.png" alt="Success" class="img-fluid" style="width: 30%;" />
                        <div class="modal-body"
                            style="flex-direction: column; justify-content: center; align-items: center;">
                            @TempData["SuccessMessage"]
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @*<script>
    document.addEventListener('DOMContentLoaded',() => {
    // Create a MutationObserver to watch for changes in the DOM
    const observer = new MutationObserver(() => {
    const chatLauncherButton = document.querySelector('.rw-launcher');
    if(chatLauncherButton) {
    console.log('Chat launcher button found:',chatLauncherButton);

    chatLauncherButton.addEventListener('click',() => {
    // Wait for a short time for the title to be created after opening the chat
    setTimeout(() => {
    const titleElement = document.querySelector('.rw-title');
    if(titleElement) {
    titleElement.textContent = 'Rasa for feedback';
    } else {
    console.log('Title element not found');
    }
    },100); // Adjust the delay as necessary
    });

    // Stop observing after finding the button
    observer.disconnect();
    }
    });

    // Start observing the body for added nodes
    observer.observe(document.body,{childList: true,subtree: true});
    });

    let firstMessageRendered = false; // Track if the first message has been rendered

    function formatDate(date) {
    const hours = date.getHours().toString().padStart(2,'0');
    const minutes = date.getMinutes().toString().padStart(2,'0');
    return `${hours}:${minutes}`;
    }

    function customMessageRenderer(messageData) {
    const time = formatDate(new Date(messageData.timestamp));

    // Determine if this is the first message
    const isFirstMessage = !firstMessageRendered && !messageData.isUser;

    // If this is the first message, set the flag to true
    if(isFirstMessage) {
    firstMessageRendered = true;
    }

    return `
    <div style="display: flex; flex-direction: column; ${messageData.isUser ? 'align-items: flex-end;' : ''
    }">
    <div style="display: flex; align-items: center; ${messageData.isUser ? 'flex-direction: row-reverse;' : ''
    }">
    <div style="background-color: ${messageData.isUser ? '#dcf8c6' : '#f2f2f2'
    }; padding: 8px; border-radius: 8px; max-width: 70%;">
    ${messageData.text}
    </div>
    </div>
    <div style="font-size: 0.8em; color: #888; margin-top: 4px; ${messageData.isUser ? 'text-align: right;' : ''
    }">
    ${time}
    </div>
    </div>
    ${isFirstMessage
    ? '<div class="rw-group-message rw-from-response"></div>'
    : ''
    }
    `;
    }

    function initializeWebchat() {
    window.WebChat.default(
    {
    initPayload: '/greet',
    customData: {
    language: 'en',
    },
    socketUrl: 'http://localhost:5005',
    customMessageRenderer: customMessageRenderer,
    params: {
    storage: 'session',
    },
    },
    null
    );
    }

    (function() {
    let e = document.createElement('script'),
    t = document.head || document.getElementsByTagName('head')[0];
    e.src = 'https://cdn.jsdelivr.net/npm/rasa-webchat@1.x.x/lib/index.js';
    e.async = true;
    e.onload = () => {
    initializeWebchat();
    };
    t.insertBefore(e,t.firstChild);
    })();
    </script>*@
</body>
</html>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script src="~/js/adminManager.js"></script>


<script>
    $('.submenu').on('show.bs.collapse',function() {
        $(this).prev('.nav-link').find('.collapse-icon')
            .removeClass('fa-angle-right')
            .addClass('fa-angle-down');
    }).on('hide.bs.collapse',function() {
        $(this).prev('.nav-link').find('.collapse-icon')
            .removeClass('fa-angle-down')
            .addClass('fa-angle-right');
    });
</script>
<script>
    $(document).ready(function() {
        var Role = @Html.Raw(Json.Serialize(Model.Role));
        // Hàm cập nhật breadcrumb
        function updateBreadcrumb(breadcrumb) {
            var breadcrumbParts = breadcrumb.split(' / ');  // Tách chuỗi breadcrumb thành các phần
            var breadcrumbHtml = '<nav aria-label="breadcrumb"><ol class="breadcrumb">';

            // Tạo HTML cho breadcrumb từ chuỗi cha con
            breadcrumbParts.forEach(function(part,index) {
                // Thêm icon trước mỗi phần breadcrumb
                var icon = '<i style="margin-right: 10px; padding-top:4px" class="fas fa-cogs"></i> '; // Icon trước mỗi mục breadcrumb
                if(index === breadcrumbParts.length - 1) {
                    breadcrumbHtml += '<li class="breadcrumb-item active" aria-current="page">' + icon + part + '</li>';
                } else {
                    breadcrumbHtml += '<li class="breadcrumb-item">' + icon + part + '</li>';
                }
            });

            breadcrumbHtml += '</ol></nav>';
            $('#breadcrumb').html(breadcrumbHtml);  // Cập nhật phần breadcrumb trong HTML
        }

        $('.nav-link').on('click',function(e) {
            e.preventDefault();
            var url = $(this).data('url');
            var breadcrumb = $(this).data('breadcrumb');

            // Cập nhật breadcrumb nếu có giá trị cha con
            if(breadcrumb) {
                updateBreadcrumb(breadcrumb);
            }
            if(url) {
                $.ajax({
                    url: url,
                    success: function(response) {
                        $('.main-view').empty();
                        $('.main-view').html(response);
                    },
                    error: function() {
                        console.log('Failed to load content.');
                    }
                });
            } else {
                window.location.href = $(this).attr('href');
            }
        });
        function loadDashboard() {
            var dashboardLink = $('a.nav-link[data-breadcrumb="Dashboard"]');
            if(dashboardLink.length > 0) {
                var url = dashboardLink.data('url');
                var breadcrumb = dashboardLink.data('breadcrumb');

                if(url) {
                    $.ajax({
                        url: url,
                        success: function(response) {
                            $('.main-view').html(response);
                            if(breadcrumb) {
                                updateBreadcrumb(breadcrumb);
                            }
                        },
                        error: function() {
                            console.log('Failed to load Dashboard.');
                        }
                    });
                }
            }
        }

        // Call loadDashboard function when the page is loaded
        loadDashboard();
    });

</script>
<script>
    $(document).ready(function() {
        $('.mobile-menu-toggle').on('click',function() {
            $('.sidebar').toggleClass('active');

            // Toggle icon
            var $icon = $(this).find('i');
            if($icon.hasClass('fa-bars')) {
                $icon.removeClass('fa-bars').addClass('fa-times');
            } else {
                $icon.removeClass('fa-times').addClass('fa-bars');
            }
        });

        // Close mobile menu when clicking outside
        $(document).on('click',function(e) {
            if(!$(e.target).closest('.sidebar').length && !$(e.target).closest('.mobile-menu-toggle').length) {
                $('.sidebar').removeClass('active');
                $('.mobile-menu-toggle i').removeClass('fa-times').addClass('fa-bars');
            }
        });
    });
</script>
