@model IEnumerable<feedBackMvc.Models.IN_NhomCauHoiKhaoSat>
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">*@
<link rel="stylesheet" href="~/css/_Show_IN_NhomCauHoiKhaoSat.css" />
@{
    var existingTitles = Model.Select(n => n.TieuDe).ToList();
}
<partial name="_NotificationModal" model="new NotificationModalModel()" />
<partial name="_WarningModal" model="new WarningModalModel()" />
<table class="table table-striped">
    <thead>
        <tr>
            <th style="max-width: 150px;">Nhóm câu hỏi [nội trú]</th>
            <th>Nội dung</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="question-group-container">
        @foreach (var nhom in Model)
        {
            <tr class="parent-row" data-target="#questions-@nhom.IdIN_NhomCauHoiKhaoSat">
                <td style="font-weight: 500;">@nhom.TieuDe</td>
                <td class="content">@nhom.NoiDung</td>
                  <td>
                    <span class="toggle-icon" data-target="#questions-@nhom.IdIN_NhomCauHoiKhaoSat">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                    <span class="delete-icon" data-id="@nhom.IdIN_NhomCauHoiKhaoSat" style="cursor: pointer; color: red;">
                        <i class="fas fa-times"></i>
                    </span>
                </td>
            </tr>
            <tr class="child-questions" id="questions-@nhom.IdIN_NhomCauHoiKhaoSat">
                <td colspan="3">
                    <table class="child-table">
                        <thead>
                            <tr>
                                <th>Tiêu đề câu hỏi</th>
                                <th>Câu hỏi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cauHoi in nhom.CauHoiKhaoSats)
                            {
                                <tr>
                                    <td style="width:20%;">@cauHoi.TieuDeCauHoi</td>
                                    <td>@cauHoi.CauHoi</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <div class="footer-buttons">
                    <button id="add-row-btn" class="btn btn-success">
                        <i class="fas fa-plus-circle"></i> Thêm
                    </button>
                    <button id="cancel-all-btn" class="btn btn-danger" style="display: none;">
                        <i class="fas fa-trash"></i> Hủy tất cả
                    </button>
                    <button id="add-all-btn" class="btn btn-success" style="display: none;">
                        <i class="fas fa-check-double"></i> Thêm tất cả
                    </button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

<script>
$(document).ready(function () {
    var existingTitles = @Html.Raw(Json.Serialize(existingTitles));
    // Toggle visibility of child questions
    function toggleChildQuestions(target) {
        var icon = $(target).closest('tr').find('.toggle-icon i');
        var childRow = $(target).closest('tr').next('.child-questions');
        childRow.toggle();
        icon.toggleClass('fa-chevron-right fa-chevron-down');
    }

    // Handle click on the toggle icon
    $('.toggle-icon').on('click', function () {
        toggleChildQuestions(this);
    });

    // Handle click on the content column
    $('.content').on('click', function () {
        toggleChildQuestions(this);
    });
    

    // Handle adding new rows
     $('#add-row-btn').on('click', function () {
        var newRowHtml = `
            <tr class="new-row">
                <td style="max-width: 146px;"><input type="text" class="form-control" placeholder="Nhập nhóm câu hỏi"></td>
                <td><input type="text" class="form-control" placeholder="Nhập nội dung"></td>
                <td class="delete-row"><i class="fas fa-trash"></i></td>
            </tr>`;
        $('#question-group-container').append(newRowHtml);
        $('#cancel-all-btn').show();
        $('#add-all-btn').show();
    });

    // Handle removing new rows
   $(document).on('click', '.delete-row', function () {
        $(this).closest('.new-row').remove();
        if ($('.new-row').length === 0) {
            $('#cancel-all-btn').hide();
            $('#add-all-btn').hide();
        }
    });
    // Handle canceling all new rows
    $('#cancel-all-btn').on('click',function () {
        $('.new-row').remove();
        $('#cancel-all-btn').hide();
        $('#add-all-btn').hide();
    });

    // Handle adding all rows
    $('#add-all-btn').on('click', function () {
        var allFilled = true;
        var titles = [];
        var hasDuplicate = false;
        var titleLenght = false;
        $('.new-row').each(function () {    
            var inputs = $(this).find('input');
            var title = inputs.eq(0).val().trim();
            var content = inputs.eq(1).val().trim();
            if (title === '' || content === '') {
                allFilled = false;
            }
            if (title.length>5){
                titleLenght = true;
            }
            if (titles.includes(title) || existingTitles.includes(title)) {
                hasDuplicate = true;
            }
            titles.push(title);
        });

        if (!allFilled) {
            var modalData = {
                Title: 'Nhắc nhở',
                Message: 'Vui lòng nhập đầy đủ thông tin.',
                IconClass: 'fa-info-circle',
                HasAction: false,
                NotificationType: 'info'
            };
            showNotificationModal(modalData);
        }else if(titleLenght){
            var modalData = {
                Title: 'Nhắc nhở',
                Message: 'Tên nhóm không được dài quá 5 ký tự.',
                IconClass: 'fa-info-circle',
                HasAction: false,
                NotificationType: 'info'
            };
            showNotificationModal(modalData);
            return;
        } 

        else if (hasDuplicate) {
            var modalData = {
                Title: 'Lỗi',
                Message: 'Tiêu đề đã tồn tại!',
                IconClass: 'fa-exclamation-triangle',
                HasAction: false,
                NotificationType: 'error'
            };
            showNotificationModal(modalData);
            return;
        } else {
            var titles = [];
            var contents = [];
            $('.new-row').each(function () {
                var inputs = $(this).find('input');
                titles.push(inputs.eq(0).val().trim());
                contents.push(inputs.eq(1).val().trim());
            });
            $.ajax({
                url: '@Url.Action("ThemNhomCauHoiKhaoSat", "In_NhomCauHoiKhaoSat")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ TieuDes: titles, NoiDungs: contents }),
                success: function (response) {
                        $('.new-row').remove();
                        $('#cancel-all-btn').hide();
                        $('#add-all-btn').hide();
                        $('.table-striped').empty();
                        $('.table-striped').empty().load('/IN_NhomCauHoiKhaoSat/Show_IN_NhomCauHoiKhaoSat', function() {
                            // Chỉ gắn lại sự kiện nếu có nội dung mới
                        });
                        existingTitles = existingTitles.concat(titles);
                        // Show success notification
                        var modalData = {
                            Title: 'Thành công',
                            Message: 'Dữ liệu đã được thêm thành công.',
                            IconClass: 'fa-check-circle',
                            HasAction: false,
                            NotificationType: 'success'
                        };
                        showNotificationModal(modalData);
                },
                error: function (xhr, status, error) {
                    alert('Có lỗi xảy ra rồi nè: ' + error);
                }
            });
        }
    });
    // Handle delete icon click
     $('.delete-icon').on('click', function () {
        var id = $(this).data('id');
        var row = $(this).closest('.parent-row');
        showWarningModal({
            Title: 'Xác nhận xóa',
            Message: 'Bạn có chắc chắn muốn xóa nhóm câu hỏi này không?',
            IconClass: 'fa-exclamation-triangle'
        }, function () {
            $.ajax({
                url: '@Url.Action("XoaNhomCauHoiKhaoSat", "In_NhomCauHoiKhaoSat")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ Id: id }),
                success: function (response) {
                    row.remove();
                    var modalData = {
                        Title: 'Thành công',
                        Message: 'Dữ liệu đã xóa thành công.',
                        IconClass: 'fa-check-circle',
                        HasAction: false,
                        NotificationType: 'success'
                    };
                    showNotificationModal(modalData);
                },
                error: function (xhr, status, error) {
                    alert('Có lỗi xảy ra ngoại lệ: ' + error);
                }
            });
        });
    });
    
});
</script>
